<%= render 'application/tables/search_field' if presenter.options[:search] == true %>
<%= render 'application/tables/buttons' unless presenter.options[:buttons] == false %>
<table>
	<thead>
		<tr>
			<% presenter.column_names.each do |column| %>
			<th><%= presenter.sortable(column) %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% if presenter.records.any? %>
			<% presenter.records.each do |element| %>
				<tr class="<%= cycle('odd', 'even') %>" data-url="<%= presenter.url(element) %>">
					<% presenter.attributes(element).each do |attribute| %>
						<td><%= truncate((strip_tags attribute.to_s), length: 40) %></td>
					<% end %>
				</tr>
			<% end %>
		<% else %>
			<tr><td class="none" colspan="<%= presenter.column_names.count %>">Il n'y a aucun élément à afficher.</td></tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate presenter.records %>