<h1><%= t('page.admin.edit.title') %></h1>

<%= form_for [:admin, @page] do |f| %>

	<%= render 'error_messages', object: f.object %>

	<%= f.text_area :content, class: "ckeditor" %>
	
	<%= f.submit %>
<% end %>