<%= form_for [:admin, @subject] do |f| %>
	
	<%= render 'error_messages', object: f.object %>

	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :description %>
	<%= f.text_area :description %>

		<%= f.label :theme_id %>
		<%= f.collection_select :theme_ids, Theme.all, :id, :name, {include_blank: "Select themes"}, {class: "selectize-themes", multiple: true} %>
	<div class="association_fields">
		<%= f.fields_for :resources, (@subject.resources.any? || @subject.resources.build) do |resources_fields| %>
			<%= content_tag :div, class: "fields" do %>
				<%= resources_fields.label :name %>
				<%= resources_fields.text_field :name %>

				<%= resources_fields.label :file %>
				<% # accept : .doc, .docx, .ppt, .pptx, .xls, .xlsx, odt, ods, odp %>
				<%= resources_fields.file_field :file, 
					accept: '
						application/pdf,application/msword,
						application/vnd.openxmlformats-officedocument.wordprocessingml.document,
						application/vnd.ms-powerpoint,
						application/vnd.openxmlformats-officedocument.presentationml.presentation,
						application/vnd.ms-excel,
						application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
						application/vnd.oasis.opendocument.text,
						application/vnd.oasis.opendocument.spreadsheet,
						application/vnd.oasis.opendocument.presentation' 
				%>

				<%= resources_fields.hidden_field :_destroy, identifier: "destroy" %>
				<%= link_to_remove_fields "remove" %>
			<% end %>
		<% end %>
		<%= link_to_add_fields("New upload") %>
	</div>

	<%= f.submit %><div class="updated"></div>

<% end %>