  <%= form_with scope: :session, url: sessions_path, local: true do |f| %>

    <%= hidden_field_tag :redirect_url, local_assigns[:redirect_url] if local_assigns[:redirect_url] %>

    <div class="row">
      <%= f.label :email, class: "bold" %>
      <%= f.text_field :email %>
    </div>
    <div class="row">
      <%= f.label :password, class: "bold" %>
      <%= f.password_field :password %>
    </div>

    <%= f.submit %>

    <label class="remember">
      <span>Rester connecté</span>
      <%= f.check_box :remember_me, checked: "checked" %>
      <span class="checkmark"></span>
    </label>
      
<% end %>

<div class="links">
  <p class="forget">
    <%= link_to "Mot de passe oublié? ", new_users_password_reset_path %>
  </p>

  <p class="signup">
    <%= link_to "Pas encore de compte ?", new_user_path %>
  </p>
</div>