<%= form_for :session, url: sessions_path do |f| %>
	<table>
		<tr>
			<td><%= f.label :email %></td>
			<td><%= f.email_field :email %></td>
		</tr>

		<tr>
			<td><%= f.label :password %></td>
			<td><%= f.password_field :password %></td>
		</tr>

		<tr>
			<td><%= f.label :remember_me %></td>
			<td><%= f.check_box :remember_me %></td>
		</tr>
		
	</table>

	<%= f.submit %>

<% end %>

</div>