<% content_for :id, "my_cards" %>

<div class="back"><%= link_to "Retour sur votre profil", profile_path %></div>

<div class="row confirmed">
	<div class="col split1">
		<div class="block">
			<div class="header">
				<h2>Vos liens</h2>
				<h5>Groupes, oeuvres ou réseaux au sein desquels vous êtes responsable ou co-responsable</h5>
				<%= will_paginate @confirmed_paginate %>
			</div>
			<ul>
				<% if @confirmed_paginate.empty? %>
					<li>
						Vous n'avez pas d'affiliations
					</li>
					<% else %>
						<% @confirmed_paginate.each do |card| %>
							<li>
								<span class="fi-<%= (card.status.name == 'En ligne') ? 'check' : 'x' %>" title="Indique le status. Pour en savoir plus éditez."></span> <%= card.name %>
								<% if current_permission.allow_modify?('cards', 'edit', card) %>
									<%= render 'application/admin/edit_btn', path: overview_card_path(card) %>
								<% else %>
									<%= link_to "Quitter", users_affiliation_path(card), method: :delete, data: {confirm: "Etes-vous sûr de vouloir quitter ce groupe ?" }, class: "edit-btn" %>
								<% end %>
							</li>
						<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col split1">
		<div class="block">
			<div class="header">
				<h2>Créer un lien</h2>
				<h5>S'annoncer en tant que responsable d'un groupe, d'une oeuvres ou d'un réseaux. Le responsable devra valider votre lien avant que celui-ci devienne effectif.</h5>
			</div>
			<%= form_tag users_affiliations_path do %>
			<ul>
				<li>
					<%= select_tag :card_id, options_from_collection_for_select(Card.all - @confirmed - @pending, :id, :name), class: "selectize" %>
					<%= submit_tag "Envoyer la requête" %>
				</li>
			</ul>
			<% end %>
		</div>
	</div>
</div>

<div class="row pending">
	<div class="col split1">
		<div class="block">
			<div class="header">
				<h2>En cours</h2>
				<h5>Les demandes que vous avez faites et qui sont en attente d'une réponse.</h5>
			</div>
			<% if !@pending.empty? %>
				<% @pending.each do |card| %>
					<ul>
						<li>
							<%= card.name %>
							<small>Requête faite le: <%= l(card.card_users.find_by_user_id(current_user.id).updated_at, format: :text) %></small>
							<%= link_to "Annuler", users_affiliation_path(card), method: :delete, data: {confirm: "Etes-vous sûr de vouloir annuler cette requête ?" } %>
						</li>
					</ul>
				<% end %>
			<% else %>
				<ul>
					<li> Pas de demandes en cours </li>
				</ul>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col split1">
		<div class="block">
			<div class="header">
				<h2>Invitations</h2>
				<h5>Gérer les demandes pour rejoindre une carte comme responsable d'un groupe, d'une oeuvre ou d'un réseau</h5>
			</div>
			<% if !@unconfirmed.empty? %>
				<% @unconfirmed.each do |card| %>
					<ul>
						<li>
							<%= card.name %>
							<%= link_to "Confirmer", users_affiliation_path(card.id, validated: "true"), method: :patch %>
							<%= link_to "Refuser", users_affiliation_path(card.id, validated: "false"), method: :patch %>
						</li>
					</ul>
				<% end %>
			<% else %>
				<ul>
					<li> Aucune demande ne requiert votre action. </li>
				</ul>
			<% end %>
		</div>
	</div>
</div>