<%= form_tag transfer_card_path(@card), method: :put, remote: true do %>
  <div class="col split1">
    <div class="errors"></div>
    <div class="header"><h2>Transférer le groupe</h2></div>
    <p>Cette action va tranférer les droits d'administrateur du groupe à un des co-responsable de votre groupe.</p>

    <%= label_tag :user, "Sélectionner un utilisateur" %>
    <%= select_tag :user, nil, class: "selectize-users" %>

    <p>Pour confirmer le transfert, veuillez entrer le nom du groupe (<%= @card.name %>):</p>
    <%= text_field_tag :card_name %>

    <%= submit_tag "Transférer" %>
  </div>
<% end %>
