<%= form_for [:admin, @ownership] do |f| %>	

	<%= render 'error_messages', object: f.object %>

	<table>
		<tr>
			<td><%= f.label :user_id %></td>
			<td><%= f.collection_select(:user_id, User.all, :id, :name) %></td>
		</tr>
		<tr>
			<td><%= f.label :element_id %></td>
			<td><%= f.collection_select(:element_id, Element.all, :id, :name) %></td>
		</tr>
		<tr>
			<td><%= f.label :ownership_type_id %></td>
			<td><%= f.collection_select(:ownership_type_id, OwnershipType.all, :id, :name) %></td>
		</tr>
		<tr>
			<td><%= f.label :right_read %></td>
			<td><%= f.check_box :right_read %></td>
		</tr>
		<tr>
			<td><%= f.label :right_create %></td>
			<td><%= f.check_box :right_create %></td>
		</tr>
		<tr>
			<td><%= f.label :right_update %></td>
			<td><%= f.check_box :right_update %></td>
		</tr>
		<tr>
			<td><%= f.label :right_delete %></td>
			<td><%= f.check_box :right_delete %></td>
		</tr>
		<tr>
			<td><%= f.label :id_element %></td>
			<td><%= f.text_field :id_element %></td>
		</tr>	
		<div class="association_fields autocomplete" data-link="actions">
			<%= f.fields_for(:actions, @ownership.actions.any? || @ownership.actions.build) do |actions_fields| %>
				<div class="fields">
					<%= actions_fields.text_field :name, data: {attr: "name"} %>
					<%= actions_fields.hidden_field :_destroy %>
					<%= link_to_remove_fields "remove" %>
				</div>
			<% end %>
			<%= link_to_add_fields("New action") %>
		</div>

		<tr><td><%= f.submit %></td></tr>
	</table>

<% end %>