<% to_layout("Votre enregistrement sur réseau jeunesse", "Vous avez completé avec succès l'enregistrement de votre #{@type}") %>

<p>Bonjour <%= @name %>,</p>
<p>Le comité ResJ est heureux d'apprendre l'inscription de votre <%= @type %> <i><%= @gname %></i>.</p>
<p>Nous procédons systématiquement à une vérification avant de valider définitivement
  l'inscription. Durant ce laps de temps, votre <%= @type %> n'est pas visible en ligne
  et vous n'avez pas accès aux ressources du site. Vous pouvez néanmoins toujours
  éditer votre groupe à partir de votre compte.</p>
<p>Nous vous avons automatiquement créé un compte. Vous pouvez vous loguer sur
  le site en haut à droite. Votre mot de passe pour vous y connecter est
  <i><%= @passwd %></i> .</p><p>Si en attendant vous avez des questions,
    n'hésitez pas à répondre à cet email.</p>
<p><a href="https://reseaujeunesse.ch/profile">https://reseaujeunesse.ch/profile</a></p>
<p>A bientôt sur le réseau !</p>
