<% to_layout("Changement de statut", "Du nouveau pour vous sur le réseau") %>

<p>Bonjour <%= @name %>,</p>
<p>Votre <%= @type %> <i><%= @gname %></i> à changé de statut.<br>Certaines informations son manquantes ou
  incomplètes. Une mise à jour de votre part est nécessaire avant la mise en ligne.<p>
<p>Ancien statut: <i><%= @old_status %></i><br>Nouveau statut: <i><%= @status %></i></p>
<p><%= @infos %></p>
<p><a href="https://reseaujeunesse.ch/profile">https://reseaujeunesse.ch/profile</a></p>
<p>A bientôt sur le réseau !</p>
