<% to_layout("Changement de statut", "Du nouveau pour vous sur le réseau") %>

<p>Bonjour <%= @name %>,</p>
<p>Votre <%= @type %> <i><%= @gname %></i> à changé de statut et est désormais
  en cours de validation.<br>Aucune action de votre part n'est requise, vous
  serez informé dès que le statut aura changé.<p>
<p>Ancien statut: <i><%= @old_status %></i><br>Nouveau statut: <i><%= @status %></i></p>
<p><%= @infos %></p>
<p><a href="http://reseaujeunesse.ch/profile">http://reseaujeunesse.ch/profile</a></p>
<p>A bientôt sur le réseau !</p>
