<h1>Ton groupe <%= @card.name %> est-il encore à jour ?</h1>

<p>Voilà <b><%= time_ago_in_words(@card.last_updated) %></b> que ton groupe sur Réseau Jeunesse n'a pas été mis à jour.
<% if @step >= 4 %>
<b>Ton groupe est maintenant désactivé, il faut impérativement le vérifier et/ou le mettre à jour</b>.
<% end %>
</p>

<p>Afin de garder des informations valides, nous te demandons de vérifier et mettre à jour si nécessaire les informations de ton groupe. 
Cette étape est nécessaire pour garder ton groupe sur le site.</p>

<%= render "mailers/button_center" do %>
  <%= link_to "Confirmer / Mettre à jour mon groupe", edit_users_card_url(@card, confirm:true), "_target"=>"_blank" %>
<% end %>

<p>Tu peux changer en tout temps les informations de ton groupe à partir de 
<%= link_to "ton compte", profile_url, target: "_blank" %> sur le site. Tu recevras tous les 6 mois une invitation à contrôler les informations de ton groupe.</p>

<% if @step == 1 %>
  <p>Ceci est le premier rappel.</p>
<% elsif @step > 1 && @step <= 2 %>
  <p>Ceci est le <%= @step %>e rappel.</p>
<% elsif @step == 3 %>
  <p>Ceci est le <%= @step %>e rappel.<br><b>Attention: le groupe sera désactivé dans 2 semaines s'il n'est pas mis à jour</b>.</p>
<% elsif @step >= 4 %>
  <p>Ceci est le <%= @step %>e rappel. <b>Nous nous réservons le droit de supprimer ton groupe si aucune action n'est entreprise</b>.</p>
<% end %>

<p>Tu peux en savoir plus sur notre politque de mise à jour des groupes <a href="https://reseaujeunesse.ch/faq#update_groups" target="_blank">via notre FAQ</a>.</p>