						<pre>
<%= "<header>Chapeau de l'article</header>" %>
<%= "<p>" %>
<%= "  Text de l'article <strong>en gras</strong> <em>en italique</em>.<br>" %>
<%= "  Retours à la ligne" %>
<%= "</p>" %>
<%= "<q>Text en exergue</q>" %>
<%= "<footer><p>Bas de l'article, copyright/signature</p></footer>" %></pre> 