<%= content_for :id, "admin_article" %>

<%= form_for [:admin, @article] do |f| %>

	<%= render 'error_messages', object: f.object %>

	<div class="col split1">
		<div class="block">
			<div class="header">
				<h2>Informations Générales</h2>
			</div>
			<ul>
				<li>
					<%= f.label :title %>
					<%= f.text_field :title %>
				</li>
				<li>

					<%= f.label :content %>
					<small><pre>
<%= "<header>Titre</header>" %>
<%= "<p>" %>
<%= "  Text de l'article <strong>en gras</strong> <em>en italique</em>.<br>" %>
<%= "  Retours à la ligne" %>
<%= "</p>" %>
<%= "<q>Text en exergue</q>" %>
<%= "<footer><p>Bas de l'article, copyright / signature</p></footer>" %></pre> 
					</small>
					<%= f.text_area :content %>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col split2">
			<div class="block">
				<ul>
					<li>
						<%= f.label :published_at %>
						<%= f.datetime_select :published_at %>
					</li>
				</ul>
			</div>
		</div>
		<div class="col split2">
			<div class="block">
				<ul>
					<li>
						<%= f.label :theme_ids %>
						<%= f.collection_select :theme_ids, Theme.all, :id, :name, {include_blank: "Sélectionnez des thèmes"}, {class: "selectize-themes", multiple: true} %>
					</li>
					<li>
						<%= f.label :image %>
						<%= f.file_field :image %>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<%= f.submit %>

<% end %>