<% content_for :id, 'article-show' %>

<div class="block full first-child last-child">
	<div class="_go-back">
		<%= link_to "Retours sur la page des articles", articles_path %>
	</div>
	<article class="wrapper article">
			<div class="graphic">
				<%= image_tag image_url @article.image.mid %>
			</div>
			<div class="text">
				<h3><%= @article.title %></h3>
				<h5>le <%= l @article.created_at, format: :normal %></h5>
				<div class="content">
					<%= sanitize @article.content, tags: Article::ALLOWED_TAGS %>
				</div>
			</div>
		<div id="clear"></div>
	</article>
</div>
<div id="clear"></div>