<div class="block full first-child last-child">
	<article class="wrapper article">
		<div class="type">Article <i class="fi-clipboard-notes"></i></div>
			<div class="graphic">
				<%= image_tag image_url @article.image.mid %>
			</div>
			<div class="text">
				<h3><%= @article.title %></h3>
				<h5>Par <%= @article.user.full_name %>, le <%= l @article.created_at, format: :normal %></h5>
				<div class="content">
					<%= sanitize @article.content, tags: Article::ALLOWED_TAGS %>
				</div>
			</div>
		<div id="clear"></div>
	</article>
</div>
<div id="clear"></div>