<div class="extra step" data-target="cards--form.step">

  <div class="row">
    <%= f.label :email, "Email public de contact" %>
    <%= f.text_field :email, placeholder: "contact@mail.ch (optionnel)" %>
  </div>

  <div class="row">
    <%= f.label :website, "Site web" %>
    <%= f.text_field :website, placeholder: "http://mon-groupe.ch (optionnel)" %>
  </div>

  <div class="row">
    <%= f.label :affiliation, "Eglise" %>
    <%= f.text_area :affiliation, placeholder: 'Eglise évangélique de ... (optionnel)' %>
  </div>

  <div class="row">
    <%= f.label :tag_names, "Tags" %>
    <%= f.text_field :tag_names, class: "card_tag_names", "data-controller": "select--tags" %>
  </div>
</div>