<div class="general step" data-target="cards--form.step">
  <div class="intro">
    Bienvenue dans le processus. En suivant quelques étapes vous allez pouvoir enregistrer votre oeuvre jeunesse. Pour passer à l'étape suivante, il faut valider l'étape en cours.
  </div>

  <div class="row">
    <%= f.label :name, "Nom du groupe *" %>
    <%= f.text_field :name, placeholder: 'Nom' %>
  </div>

  <div class="row">
    <%= f.label :description, "Description *" %>
    <%= f.text_area :description, placeholder: 'Description' %>
  </div>

  <div class="row">
    <%= f.label :card_type, "Catégorie *" %>
    <%= f.select :card_type, options_for_enum(f.object, :card_type), { prompt: "Choisissez une catégorie" }, { class: "card_type", "data-controller": "select--simple" } %>
  </div>

  <div class="row">
    <%= f.label :parent_ids, "Affiliation" %>
    <%= f.collection_select :parent_ids, Card.network, :id, :name, {}, { multiple: true, "data-controller": "select--simple" } %>
  </div>
</div>