<div class="location step" data-target="cards--form.step">
  <p><span class="num">5</span> Quelle est votre <span class="b">rue</span>?</p>
  <%= f.text_field :street, placeholder: 'Rue' %>

  <p><span class="num">6</span> Dans quelle <span class="b">localité</span> êtes-vous?</p>
  <%= f.collection_select :location_id, [f.object.location].compact, :id, :full_name, { include_blank: "Tapez une ville" }, { class: "card_location", "data-controller": "select--remote" } %>

  <p><span class="num">7</span> Où est votre <span class="b">lieu</span> de rencontre? (à l'église, dans la rue, en face de la gare ...) (optionnel)</p>
  <%= f.text_field :place, placeholder: 'Lieu de rencontre (optionnel)' %>

  <%= f.text_field :latitude, id: "lat", type: :hidden %>
  <%= f.text_field :longitude, id: "lng", type: :hidden %>

  <p><span class="num">8</span> Sur une carte, quelle est votre <span class="b">emplacement</span>? Positionnez le curseur en cliquant sur la carte au bon endroit </p>
  <div id="map-canvas"></div>
  <div class="map-panel">
    <input id="address" type="textbox" value="Switzerland">
    <input type="button" value="find" id="geocode-addr">
  </div>
</div>
