<div class="location step" data-target="cards--form.step" data-controller="cards--wizard">
  <p><span class="num">5</span> Quelle est votre <span class="b">rue</span>?</p>
  <%= f.text_field :street, placeholder: 'Rue' %>

  <p><span class="num">6</span> Dans quelle <span class="b">localité</span> êtes-vous?</p>
  <%= f.collection_select :location_id, [f.object.location].compact, :id, :full_name, {}, { class: "card_location", "data-controller": "select--locations" } %>

  <p><span class="num">7</span> Où est votre <span class="b">lieu</span> de rencontre? (à l'église, dans la rue, en face de la gare ...) (optionnel)</p>
  <%= f.text_field :place, placeholder: 'Lieu de rencontre (optionnel)' %>

  <p>Latitude</p>
  <%= f.text_field :latitude, id: "lat", disabled: "disabled", data: { "target" => "cards--wizard.latitude" } %>
  <p>Longitude</p>
  <%= f.text_field :longitude, id: "lng", disabled: "disabled", data: { "target" => "cards--wizard.longitude" } %>

  <p><span class="num">8</span> Sur une carte, quelle est votre <span class="b">emplacement</span>? Zoomer à l'emplacement sur la carte puis clickez sur l'endroit afin de placer le marker. </p>
  <div id="mapbox"></div>

</div>
