<div class="location step" data-target="cards--form.step">
  
  <div class="row">
    <%= f.label :street %>
    <%= f.text_field :street, placeholder: 'Rue' %>
  </div>

  <div class="row">
    <%= f.label :location_id %>
    <%= f.collection_select :location_id, [f.object.location].compact, :id, :full_name, {}, { class: "card_location", "data-controller": "select--locations" } %>
  </div>

  <div class="row">
    <%= f.label :place, "Lieu de rencontre" %>
    <%= f.text_field :place, placeholder: 'Lieu de rencontre (optionnel)' %>
  </div>

  <div class="map-location" data-controller="cards--location">
    <p class="label">Emplacement sur la carte</p>
    <p class="hint">cliquez sur la carte pour changer l'emplacement du marqueur</p>
    <div id="mapbox" data-target="cards--location.map"></div>

    <details class="vanilla">
      <summary>Détails</summary>

      <%= f.label :latitude %>
      <%= f.text_field :latitude, readonly: "readonly", data: { "target" => "cards--location.latitude" } %>
      
      <%= f.label :longitude %>
      <%= f.text_field :longitude, readonly: "readonly", data: { "target" => "cards--location.longitude" } %>
    </details>
  </div>

</div>
