<%= render layout: 'form' do |f| %>

	<div class="block">
		<div class="label">
			<p>
				<span class="num">5</span> Quelle est votre <span class="b">rue</span>?
			</p>
		</div>
		<%= f.text_field :street, placeholder: 'Rue' %>
	</div>

	<div class="block">
		<div class="label">
			<p>
				<span class="num">6</span> Dans quelle<span class="b">localité</span>êtes-vous?
			</p>
		</div>
		<%= f.collection_select :location_id, [f.object.location].compact, :id, :full_name, {include_blank: "Tapez une ville"}, {class: "selectize-location"} %>
	</div>
	
	<div class="block">
		<div class="label">
			<p><span class="num">7</span> Où est votre <span class="b">lieu</span> de rencontre? (à l'église, dans la rue, en face de la gare ...) (optionnel)</p>
		</div>
		<%= f.text_field :place, placeholder: 'Lieu de rencontre (optionnel)' %>
	</div>

	<div class="clear"></div>	

	<%= f.text_field :latitude, id: "lat", type: :hidden %>

	<%= f.text_field :longitude, id: "lng", type: :hidden %>

	<div class="block map">
		<div class="label">
			<p><span class="num">8</span> Sur une carte, quelle est votre <span class="b">emplacement</span>? Positionnez le curseur en cliquant sur la carte au bon endroit </p>
		</div>
		<div id="map-canvas"></div>
		<div class="map-panel">
			<input id="address" type="textbox" value="Switzerland">
      <input type="button" value="find" id="geocode-addr">
		</div>	
	</div>

<% end %>