<%= render layout: 'form' do |f| %>

	<div class="block">
		<div class="label">
			<p>
				<span class="num">9</span> Un petit <span class="b">email</span> de <span class="b">contact</span> public si vous le désirez (affiché publiquement et protégé des <a href="http://fr.wikipedia.org/wiki/Spambot" target="_blank">spambot</a>, optionnel)
			</p>
		</div>
	<%= f.text_field :email, placeholder: "contact@mail.ch" %>
	</div>

	<div class="clear"></div>

	<div class="block team">
		<div class="label">
			<p>
				<span class="num">10</span> Qui sont les <span class="b">responsables</span> du groupe? Il faut marquer un responsable comme propriétaire du groupe, il aura le compte administrateur de la carte.
			</p>
		</div>
		<div class="association_fields autocomplete" data-link="responsables">
			<%= f.fields_for(:responsables, @card.responsables.any? || @card.responsables.build) do |responsables_fields| %>
				<% is_contact = (responsables_fields.object.is_contact == "true") %>
				<%= content_tag :div, class: "fields" + (" contact" if is_contact).to_s do %>
					<div class="field">
						<%= responsables_fields.label :firstname %>
						<%= responsables_fields.text_field :firstname, data: {attr: "firstname"}, placeholder: 'Prénom' %>
					</div>
					<div class="field">
						<%= responsables_fields.label :lastname %>
						<%= responsables_fields.text_field :lastname, data: {attr: "lastname"}, placeholder: 'Nom' %>
					</div>
					<div class="field">
						<%= responsables_fields.label :email %>
						<%= responsables_fields.text_field :email, placeholder: 'email@mail.ch' %>
					</div>
					<div class="field">
						<%= responsables_fields.hidden_field :_destroy, identifier: "destroy" %>
						<%= link_to_remove_fields "Supprimer" %>
						<%= responsables_fields.hidden_field :is_contact, identifier: "is_contact", value: ("true" if is_contact) %>
						<%= link_to_add_contact "Marquer comme propriétaire" %>
					</div>
				<% end %>
			<% end %>
			<%= link_to_add_fields("Ajouter un responsable") %>
		</div>
	</div>

<% end %>