<div>

  <%= render 'error_messages', object: @card %>

  <p>Général</p>

  <p>Nom</p><p><%= @card.name %></p>
  <p>Description</p><p><%= @card.description %></p>
  <p>Catégorie</p><p><%= t "card.card_types.#{@card.card_type}" %></p>
  <p>Réseau régional</p><p><%= @card.parents.map(&:name).join(", ") %></p>

  <p>Lieu</p>

  <p>Adresse</p><p><%= @card.street %></p>
  <p>Ville</p><p><%= @card.location.official_name if @card.location %></p>
  <p>Lieu de rencontre</p><p><%= @card.place %></p>

  <p>Extra</p>

  <p>Email de contact</p><p><%= @card.email %></p>
  <p>Site web</p><p><%= @card.website %></p>
  <p>Affiliations</p><p><%= @card.affiliation %></p>
  <p>Tags</p><p><%= @card.tag_names %></p>

  <%= link_to "Confirmer", confirm_cards_wizard_path(@card), method: :patch %>

</div>