<% content_for :id, "container-cards-wizards-confirmation" %>

<% content_for :links do %>
  <%= link_to "Retour à l'édition", edit_cards_wizard_path(@card, step: "general") %>
<% end %>

<div class="container">

  <div class="session-form session-form-violet">
    <div class="wrapper wrapper-bigger">

      <div class="title">
        <span>Confirmation d'un nouveau groupe</span>
      </div>

      <div class="timeline">
        <%= link_to "Informations générales", edit_cards_wizard_path(@card, step: "general") %>
        <%= link_to "Localisation", edit_cards_wizard_path(@card, step: "location") %>
        <%= link_to "Informations complémentaire", edit_cards_wizard_path(@card, step: "extra") %>
        <%= link_to "Confirmation", confirmation_cards_wizard_path(@card) %>
      </div>

      <div class="fake-form">

        <%= render 'error_messages', object: @card %>

        <h3>Général</h3>

        <div class="row">
          <p>Nom</p>
          <p class="input"><%= @card.name %></p>
        </div>

        <div class="row">
          <p>Description</p>
          <p class="input"><%= @card.description %></p>
        </div>

        <div class="row">
          <p>Catégorie</p>
          <p class="input"><%= t "card.card_types.#{@card.card_type}" %></p>
        </div>

        <div class="row">
          <p>Réseau régional</p>
          <p class="input"><%= @card.parents.map(&:name).join(", ") %></p>
        </div>

        <h3>Lieu</h3>

        <div class="row">
          <p>Adresse</p>
          <p class="input"><%= @card.street %></p>
        </div>

        <div class="row">
          <p>Ville</p>
          <p class="input"><%= @card.location.official_name if @card.location %></p>
        </div>

        <div class="row">
          <p>Lieu de rencontre</p>
          <p class="input"><%= @card.place %></p>
        </div>

        <h3>Extra</h3>

        <div class="row">
          <p>Email de contact</p>
          <p class="input"><%= @card.email %></p>
        </div>
          
        <div class="row">
          <p>Site web</p>
          <p class="input"><%= @card.website %></p>
        </div>
          
        <div class="row">
          <p>Affiliations</p>
          <p class="input"><%= @card.affiliation %></p>
        </div>
          
        <div class="row">
          <p>Tags</p>
          <p class="input"><%= @card.tag_names %></p>
        </div>
      </div>

      <div class="intro">
        Une fois le formulaire envoyé, un email de confirmation sera envoyé à 
        votre adresse. Notre équipe procèdera ensuite à une validation et vous 
        recevrez un second email une fois la validation passée. Votre groupe
        sera visible sur le site à partir de ce moment.
      </div>

      <div class="buttons">
        <%= link_to "Editer", edit_cards_wizard_path(@card, step: "general"), class: "confirm" %>
        <%= link_to "Confirmer", confirm_cards_wizard_path(@card), method: :patch, class: "confirm" %>
      </div>
    </div>
  </div>
</div>