<% content_for :id, "container-cards-wizards" %>

<div class="container" data-controller="cards--form" data-cards--form-step="<%= params[:step] || 'general' %>">

  <div class="session-form">
    <div class="wrapper wrapper-bigger">

    <div class="title">
      <span>Création d'un nouveau groupe</span>
    </div>
    
    <%= form_with model: @card, url: cards_wizard_path, data: { target: "cards--form.form" } do |f| %>

      <div id="error" data-target="cards--form.error"></div>

      <%= render "cards/wizards/general_step", f: f %>
      <%= render "cards/wizards/location_step", f: f %>
      <%= render "cards/wizards/extra_step", f: f %>

      <div class="buttons">
        <button type="button" class="nav previous" data-action="cards--form#previous" data-target="cards--form.previous">Revenir en arrière</button>
        <button type="button" class="nav next" data-action="cards--form#next" data-target="cards--form.next">Prochaine étape</button>
        <button type="button" class="nav final" data-action="cards--form#confirmation" data-target="cards--form.confirmation">Aller à la confirmation</button>
      </div>
    <% end %>
    </div>
  </div>
</div>