<%= content_tag :div, (render 'error_messages', object: f.object), class: 'error' %>

<div class="col split1">
	<div class="block">
		<ul>
			<li>
				<%= f.label :current_password %>
				<%= f.password_field :current_password %>
			</li>
			<li>
				<%= f.label :email %>
				<%= f.email_field :email %>
			</li>
			<li>
				<%= f.label :firstname %>
				<%= f.text_field :firstname %>				
			</li>
			<li>
				<%= f.label :lastname %>
				<%= f.text_field :lastname %>				
			</li>
			<li id="avatar">
				<%= f.label :avatar %>
				<%= f.file_field :avatar %>				
			</li>
			<li>
				<%= f.label :password %>
				<%= f.password_field :password %>				
			</li>
			<li>
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation %>
			</li>
		</ul>
	</div>
</div>