<%= content_tag :div, (render 'error_messages', object: f.object), class: 'error' %>

<div class="col split1">
	<div class="block">
		<ul>
			<li>
				<%= f.label :current_password %>
				<%= f.password_field :current_password, placeholder: "Obligatoire" %>
			</li>
			<li>
				<%= f.label :email %>
				<%= f.email_field :email %>
			</li>
			<li>
				<%= f.label :firstname %>
				<%= f.text_field :firstname %>
			</li>
			<li>
				<%= f.label :lastname %>
				<%= f.text_field :lastname %>
			</li>
			<li>
				<%= f.label :password %>
				<%= f.password_field :password, placeholder: "Laissez vide pour ne pas modifier" %>
			</li>
			<li>
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation, placeholder: "Laissez vide pour ne pas modifier" %>
			</li>
		</ul>
	</div>
</div>
