
<%= form_with model: record, url: url, local: true do |f| %>

  <div class="row">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <div class="row">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="row">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="row">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="row">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit %>

  <%= render "error_messages", object: f.object %>

<% end %>