<%= render 'error_messages', object: f.object %>

<%= @user.orator.themes %>

<table>
	<% if !@user.new_record? %>
		<tr>
			<td><%= f.password_field :current_password %></td>
			<td><%= f.label :current_password %></td>
		</tr>
	<% end %>

	<tr>
		<td><%= f.email_field :email %></td>
		<td><%= f.label :email %></td>
	</tr>

	<% if !@user.new_record? %>
		<tr>
			<td><%= f.email_field :gravatar_email %></td>
			<td><%= f.label :gravatar_email %></td>
		</tr>
	<% end %>
	
	<tr>
		<td><%= f.text_field :firstname %></td>
		<td><%= f.label :firstname %></td>
	</tr>
	<tr>
		<td><%= f.text_field :lastname %></td>
		<td><%= f.label :lastname %></td>
	</tr>
	<tr>
		<td><%= f.password_field :password %></td>
		<td><%= f.label :password %></td>
	</tr>
	<tr>
		<td><%= f.password_field :password_confirmation %></td>
		<td><%= f.label :password_confirmation %></td>
	</tr>

	<%= f.fields_for :orator do |orator_fields| %>

		<%= orator_fields.label :street %>
		<%= orator_fields.text_field :street %>

		<%= orator_fields.label :location_id %>
		<%= orator_fields.collection_select :location_id, Location.all, :id, :full_name, {include_blank: "Select a city"}, {class: "selectize"} %>

		<%= orator_fields.label :phone %>
		<%= orator_fields.text_field :phone %>

		<%= orator_fields.label :theme_ids %>
		<%= orator_fields.collection_select :theme_ids, Theme.all, :id, :name, {include_blank: "Select themes"}, {class: "selectize-themes", multiple: true} %>

		<%= orator_fields.label :disponibility_ids %>
		<%= orator_fields.collection_check_boxes :disponibility_ids, Disponibility.all, :id, :name %>

		<%= orator_fields.label :disponibility %>
		<%= orator_fields.text_field :disponibility %>
	<% end %>

</table>
<%= f.submit %>

<script type="text/javascript">window.onload=selectize();</script>