
<%= form_with model: record, url: url, local: true do |f| %>

  <% if record.persisted? %>
  <div class="row">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, placeholder: "Remplis avec ton mot de passe actuel" %>
  </div>
  <% end %>

  <div class="row">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <div class="row">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="row">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="row">
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Laisse blanc pour ne rien changer" %>
  </div>

  <div class="row">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit %>

  <%= render "error_messages", object: f.object %>

<% end %>