<div class="back"><%= link_to "Retour sur votre profil", profile_path %></div>

<div class="top">
	<h1>Editer son profil</h1>
</div>

<div class="form">
	<%= form_for @user, url: user_avatar_update_path do |f| %>

		<%= render 'error_messages', object: f.object %>

		<div class="col split1">
			<div class="block">
				<ul>
					<li>
						<%= f.label :current_password %>
						<%= f.password_field :current_password %>
					</li>
					<li>
						<%= f.label :avatar %>
						<%= f.file_field :avatar %>
					</li>
					<li>
						<%= f.label :gravatar_email %>
						<%= f.email_field :gravatar_email %>
					</li>
					<li>
						<small>Sélectionnez une image à uploader si vous voulez décocher l'option gravatar.</small>
						<%= f.label :gravatar, "Utiliser gravatar ?" %>
						<%= f.check_box :gravatar, disabled: f.object.avatar_url.nil? %>
					</li>
				</ul>
			</div>
		</div>
		<%= f.submit %>
	<% end %>
</div>