<% content_for :id, 'user-edit' %>

<div class="back"><%= link_to "Retour sur votre profil", profile_path %></div>

<div class="top">
	<h1>Editer son profil</h1>
</div>

<div class="form">
	<% if @user.orator.nil? %>
		<%= form_for @user, url: user_update_path do |f| %>
			<%= render 'edit_form', f: f %>
		<%= f.submit %>
		<% end %>
	<% else %>
		<%= render 'orators/edit_form' %>
	<% end %>
</div>