<% content_for :id, "container-users-profile" %>

<div class="title green">
  <h2>Paramètres de compte</h2>
  <%= link_to "Editer", profile_edit_path %>
</div>

<div class="name">
  <%= @user.firstname %>
  <%= @user.lastname %>
</div>

<div class="item green">
  <h3>E-Mail</h3>
  <%= @user.email %>
</div>

<div class="item green">
  <h3>Newsletter</h3>
  <%= t("user.newsletter.#{@user.newsletter}") %>
</div>

<% unless @orator.nil? %>

<div class="title orange">
  <h2>Paramètres d'orateur</h2>
  <%= link_to "Editer", profile_orator_edit_path %>
</div>

<div class="item orange">
  <h3>Visibilité sur la liste</h3>
  <% if @orator.disabled %>
  <p>Vous n'êtes pas visible en tant qu'orateur.</p>
  <% else %>
  <p>Vous êtes visible en tant qu'orateur.</p>
  <% end %>
</div>

<div class="item orange">
  <h3>Description</h3>
  <%= @orator.description %>
</div>

<div class="item orange">
  <h3>Adresse</h3>
  <%= @orator.street %>
  <%= @orator.location.full_name %>
</div>

<div class="item orange">
  <h3>Téléphone</h3>
  <%= @orator.phone %>
</div>

<div class="item orange">
  <h3>Disponibilités</h3>
  <% @orator.disponibilities.each do |disponibility| %>
  <%= disponibility.name %>
  <% end %>
</div>

<% end %>

<div class="cards">
  <h2>Mes groupes</h2>
</div>

<% @cards.each do |card| %>
<div class="card title red">
  <h2><%= card.name %></h2>
  <div class="links">
    <%= link_to "Voir", card_path(card) %>
    <%= link_to "Editer", edit_users_card_path(card) %>
  </div>
</div>
<% end %>

<div class="danger">
  <h2>Zone de danger</h2>

  <%= link_to "Supprimer mon compte", root_path %>
</div>