<% content_for :id, "profile" %>

<div class="col split1">
	<div class="block">
		<div class="header">
			<h2>Votre compte sur ResJ</h2>
		</div>
		<ul>
			<li class="avatar">
				<a href="<%= profile_path %>"><%= image_tag current_user.image %></a>
			</li>
			<li>
				<span class="fi-torso"></span> <%= "#{current_user.firstname} #{current_user.lastname}" %> <%= render 'application/admin/edit_btn', path: user_edit_path %>
			</li>
			<li>
				<span class="fi-photo"></span> Avatar <%= render 'application/admin/edit_btn', path: user_avatar_path %>
			</li>
			<li>
				<span class="fi-torsos-all"></span> Mes groupes, oeuvres ou réseaux <%= render 'application/admin/edit_btn', path: user_my_cards_path %>
			</li>
			<li>
				<span class="fi-mail"></span> Notifications <%= render 'application/admin/edit_btn', path: user_notifications_path %>
			</li>
		</ul>
	</div>
</div>