<h1>Mes informations</h1>
<%= @user.firstname %>
<%= @user.lastname %>
<%= @user.email %>
<%= @user.newsletter %>

<%= link_to "Editer mes informations", profile_edit_path %>

<% unless @orator.nil? %>

<h1>Mes informations d'orateur</h1>
<% if @orator.disabled %>
<p>Vous n'êtes pas visible en tant qu'orateur.</p>
<% else %>
<p>Vous êtes visible en tant qu'orateur.</p>
<% end %>

<%= @orator.description %>
<%= @orator.street %>
<%= @orator.location.full_name %>
<%= @orator.phone %>

<h2>Mes disponibilités</h2>
<% @orator.disponibilities.each do |disponibility| %>
<%= disponibility.name %>
<% end %>

<%= link_to "Editer mes informations", profile_edit_path %>

<% end %>

<h1>Mes groupes</h1>
<% @cards.each do |card| %>

<%= card.name %>
<%= link_to "Voir", users_card_path(card) %>
<%= link_to "Editer", edit_users_card_path(card) %>

<% end %>

<h1>Danger</h1>

<%= link_to "Supprimer mon compte", root_path %>