<% content_for :id, 'home' %>
<% content_for :javascript do %>
	<%= javascript_include_tag "jquery.easypiechart.min.js", "data-turbolinks-track" => true %>
<% end %>
<%= raw @page.content.html_safe %>
<div class="new">
	<div class="title">
		<div class="wrapper">
			<h2>Dernières apparitions sur ResJ</h2>
			<span>Découvrez des ressources et pleins de contenus spécialement pour vous <%= link_to '/ressources', resources_path %></span>
			<div class="clear"></div>
		</div>
	</div>
	<% if @article %>
	<div class="block left">
		<div class="wrapper">
			<div class="type">Article <i class="fi-clipboard-notes"></i></div>
			<div class="graphic">
				<%= image_tag image_url @article.image %>
			</div>
			<div class="text">
				<h3><%= @article.title %></h3>
				<div class="content">
					<p>
						<%= truncate(@article.content, length: 300, omission: " ... %s") % link_to('lire la suite', 'resources#articles') %>
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<% end %>
	<div class="block right">
		<div class="wrapper">
			<div class="type">Activité du site <i class="fi-battery-full"></i></div>
			<div class="text full">
				<h3>La barre des 200 oeuvres jeunesses dépassée</h3>
				<div class="content">
					<div class="charts">
						<div class="chart">
							<div class="easy-chart" data-percent="93" data-color="#FFB606"><span></span></div>
							<div class="label">Oeuvres enregistrées</div>
						</div>
						<div class="chart">
							<div class="easy-chart" data-percent="133" data-color="#FFAC2A"><span></span></div>
							<div class="label">Orateurs inscrits</div>
						</div>
						<div class="chart">
							<div class="easy-chart" data-percent="53" data-color="#FF830F"><span></span></div>
							<div class="label">Docuemnts disponibles</div>
						</div>
						<div class="chart">
							<div class="easy-chart" data-percent="83" data-color="#FFC63A"><span></span></div>
							<div class="label">Utilisateurs enregistrés</div>
						</div>
					</div>
					<p>A ce jour nous sommes heureux d'annoncer un nouveau cap franchis, et pas des moindre: 200 oeuvres jeunesses inscrites en moins de 2 mois! Commes d'habitude, l'équipe vous réserve encore pleins de nouveautés pour la fin de l'année, n'oubliez pas de rejoindre notre page facebook et d'encourager d'autres oeuvres que nous connaissez à s'inscrire.</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="map">

	<div class="title">
		<div class="wrapper">
			<h2>Votre réseau</h2>
			<span>Vous cherchez une oeuvre particulière? Rendez-vous sur <%= link_to '/reseau', cards_path %></span>
			<div class="clear"></div>
		</div>
	</div>

	<script type="text/javascript">
	  var addressPoints = <%= map_points(@cards) %>;
	  var latCenter = 46.6221;
	  var lngCenter = 7.1960;
	</script>
	<%= render 'map' %>
	<div id="clear_map"></div>
</div>