<% content_for :id, 'home' %>

<% content_for :javascript do %>
	<%= javascript_include_tag "//cdn.sublimevideo.net/js/7i5r6ntc.js", "data-turbolinks-track" => true %>
	<script type="text/javascript">
		$(function(){home_stuff.init();})
	</script>
<% end %>

<% content_for :content_banner do %>
	<div class="content_banner">
		<div class="marketing">
			<h2>Inscrivez dès maintenant votre groupe, oeuvre ou réseau !</h2>
			<div class="btn">
				<%= link_to "Inscrire", new_card_wizard_path %></p>
			</div>
		</div>
		<div class="video">
			<video id="Promo1" class="sublime" poster="http://storage.googleapis.com/reseaujeunesse-ch/my-assets/images/video-poster-low.jpg" width="640" height="360" title="Réseau Jeunesse promo" data-player-kit="2" data-uid="Promo1" data-autoresize="fill" preload="none">
			  <source src="http://storage.googleapis.com/reseaujeunesse-ch/my-assets/videos/ReseauJeunesse.mp4" data-quality="hd" />
			  <source src="http://storage.googleapis.com/reseaujeunesse-ch/my-assets/videos/ReseauJeunesse_360p.mp4" />
			</video>
			<a class="download" href="http://storage.googleapis.com/reseaujeunesse-ch/my-assets/videos/ReseauJeunesse.mp4.zip">Télécharger la vidéo</a>
		</div>
	</div>
<% end %>

<%#= raw @page.content.html_safe %>
<div class="new">
	<div class="_title-large">
		<div class="wrapper">
			<h2>Dernières publications</h2>
			<span>Découvrez des ressources et plein de contenu spécialement pour vous <%= link_to 'ressources', resources_path %></span>
			<div class="clear"></div>
		</div>
	</div>
	<% if @article %>
	<div class="block left">
		<div class="wrapper">
			<div class="type">Article <i class="fi-clipboard-notes"></i></div>
			<div class="graphic">
				<%= image_tag image_url @article.image %>
			</div>
			<div class="text">
				<h3><%= @article.title %></h3>
				<div class="content">
					<p>
						<%= truncate(simple_format(@article.content), length: 500, omission: " ... %s", escape: false) % link_to('lire la suite', resources_path(anchor: 'articles')) %>
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<% end %>
	<div class="block right">
		<div class="wrapper">
			<div class="type"><i class="fi-battery-full"></i></div>
			<div class="text full">
				<h3>Activité du site</h3>
				<div class="content">
					<div class="charts">
						<div class="chart">
							<%= link_to "", cards_path, class: "link" %>
							<div class="easy-chart" data-value="<%= @card_count %>" data-percent="<%= @card_count %>" ><span></span></div>
							<div class="label">Groupes, oeuvres ou réseaux</div>
						</div>
						<div class="chart">
							<%= link_to "", orators_path, class: "link" %>
							<div class="easy-chart" data-value="<%= @orator_count %>" data-percent="<%= @orator_count %>" ><span></span></div>
							<div class="label">Orateurs</div>
						</div>
						<div class="chart">
							<%= link_to "", documents_path, class: "link" %>
							<div class="easy-chart" data-value="<%= @doc_count %>" data-percent="<%= @doc_count %>" ><span></span></div>
							<div class="label">Documents</div>
						</div>
						<div class="chart">
							<%= link_to "", profile_path, class: "link" %>
							<div class="easy-chart" data-value="<%= @user_count %>" data-percent="<%= @user_count %>" ><span></span></div>
							<div class="label">Utilisateurs</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div class="map">

	<div class="_title-large">
		<div class="wrapper">
			<h2>Le réseau</h2>
			<span>Vous cherchez un groupe, une oeuvre ou un réseau ? Rendez-vous sur <%= link_to 'réseau', cards_path %></span>
			<div class="clear"></div>
		</div>
	</div>

	<script type="text/javascript">
	  var addressPoints = <%= map_points(@cards) %>;
	  var latCenter = 46.6221;
	  var lngCenter = 7.1960;
	</script>
	<%= render 'map' %>
	<div id="clear_map"></div>
</div>