<% content_for :id, 'resj' %>

<div class="top">
	<h1>Le team ResJ</h1>
</div>

<h2>Réseau Evangélique Suisse Jeunesse = RES-J !</h2>

<div class="block">
	<h2>Vision</h2>
	<i class="fi-star"></i>
	<p>
		Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam auctor quam diam, sed tempor tortor pharetra sed. Phasellus rutrum ultricies orci. In a egestas odio, sed lobortis nisi. Donec in augue at orci pharetra varius. Mauris non consequat dui. Nunc venenatis, est quis accumsan sollicitudin, ligula nibh aliquet erat, sed posuere ante sem et nibh.
	</p>
	<ul>
		<li> - Lorem ipsum dolor sit</li>
		<li> - Amet etsi elgaro setma is</li>
		<li> - Saled meda elicor odio</li>
	</ul>
</div>

<div class="block team">
	<h2>Team</h2>
	<div class="member">
		<%= image_tag image_url "about/christian.jpg" %>
		<div class="infos">
			<span class="name">Christian Kuhn</span>
			<ul>
				<li><span class="field">Activité</span> secrétaire général du réseau évangélique suisse (RES)</li>
				<li><span class="field"><i class="fi-asterisk"></i></span> chrikuhn@resj.ch</li>
			</ul> 
		</div>
	</div>
	<div id="clear"></div>
	<div class="member">
		<%= image_tag image_url "about/jean-luc.jpg" %>
		<div class="infos">
			<span class="name">Jean-Luc Emery</span>
			<ul>
				<li><span class="field">Activité</span> Responsable jeunesse, ligue pour la lecture de la bible (LLB)</li>
				<li><span class="field"><i class="fi-asterisk"></i></span> jlemery@ligue.ch</li>
			</ul> 
		</div>
	</div>
	<div id="clear"></div>
	<div class="member">
		<%= image_tag image_url "about/mathieu.jpg" %>
		<div class="infos">
			<span class="name">Mathieu Pochon</span>
			<ul>
				<li><span class="field">Activité</span> Responsable ShineGeneration, campus pour Christ</li>
				<li><span class="field"><i class="fi-asterisk"></i></span> mpochon@cfc.ch</li>
			</ul> 
		</div>
	</div>
	<div id="clear"></div>
	<div class="member">
		<%= image_tag image_url "about/joanne.jpg" %>
		<div class="infos">
			<span class="name">Joanne Emery</span>
			<ul>
				<li><span class="field">Activité</span> Animatrice jeunesse pour la fédération romande des église évangéliques (FREE) et animatrice Impact Jeunes</li>
				<li><span class="field"><i class="fi-asterisk"></i></span> emeryjoanne@hotmail.com</li>
			</ul> 
		</div>
	</div>
	<div id="clear"></div>
	<div class="member">
		<%= image_tag image_url "about/colin.jpg" %>
		<div class="infos">
			<span class="name">Colin Donaldson</span>
			<ul>
				<li><span class="field">Activité</span> Secrétaire général des groupes biblique des universités et des écoles (GBUE)</li>
				<li><span class="field"><i class="fi-asterisk"></i></span> colin.donaldson@gbeu.ch</li>
			</ul> 
		</div>
	</div>
	<div id="clear"></div>
	<div class="member">
		<%= image_tag image_url "about/noemien.jpg" %>
		<div class="infos">
			<span class="name">Noémien Kocher</span>
			<ul>
				<li><span class="field">Activité</span> Responsable web pour le RES-J, leader du groupe de jeunes WAY</li>
				<li><span class="field"><i class="fi-asterisk"></i></span> noemien@resj.ch</li>
			</ul> 
		</div>
	</div>
	<div id="clear"></div>
</div>

<div id="clear"></div>