<% content_for :id, 'resources' %>

<% content_for :content_banner do %>
	<div class="content_banner">
		<div class="block">
			<div class="content">
				<h2>Des articles pertinents</h2>
				<p>Retrouvez tous les mois un article édifiant et d'actualité</p>
			</div>
			<div class="btn" id="btn-articles">
				<p>Découvrir</p>
			</div>
		</div>
		<div class="block">
			<div class="content">
				<h2>Pleins de documents</h2>
				<p>Créés par des leaders pour des leaders</p>
			</div>
			<div class="btn" id="btn-docs">
				<p>Découvrir</p>
			</div>
		</div>
		<div class="block">
			<div class="content">
				<h2>Liste d'orateurs</h2>
				<p>Trouvez la bonne personne pour votre prochaine soirée</p>
			</div>
			<div class="btn" id="btn-orators">
				<p>Découvrir</p>
			</div>
		</div>
	</div>
<% end %>

<div class="top">
	<h1>Ressources</h1>
</div>

<div class="new">
	<div class="title" id="articles">
		<div class="wrapper">
			<h2>Dernier arcticle</h2>
			<span>Visitez tous les articles sur <%= link_to '/articles', articles_path %></span>
			<div class="clear"></div>
		</div>
	</div>
	<div class="block full">
		<div class="wrapper">
			<div class="type">Article <i class="fi-clipboard-notes"></i></div>
			<% if @article.nil? %>
				<p>Pas d'article</p>
			<% else %>
				<div class="graphic">
					<%= image_tag image_url @article.image %>
				</div>
				<div class="text">
					<h3><%= @article.title %></h3>
					<div class="content">
						<%= simple_format @article.content %>
					</div>
				</div>
			<% end %>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>


	<div class="title" id="docs">
		<div class="wrapper">
			<h2>Derniers documents</h2>
			<span>Vous recherchez tous les documents? Rendez-vous sur <%= link_to '/documents', documents_path %></span>
			<div class="clear"></div>
		</div>
	</div>
	<% @subjects.each do |subject| %>
		<% type = type(subject) %>
		<div class="block split4 doc">
			<div class="wrapper">
				<div class="type">.<%= type %></div>
				<div class="graphic">
					<%= image_tag image_url "resources/documents/#{type}.png" %>
				</div>
				<div class="text">
					<h3><%= link_to subject.name, document_path(subject) %></h3>
					<div class="content">
						<p><%= truncate subject.description, length: 170 %></p>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>		
	<% end %>
	<div class="clear"></div>


<div class="new">
	<div class="title" id="orators">
		<div class="wrapper">
			<h2>Liste d'orateurs</h2>
			<span>Liste complète sur <%= link_to '/orators', orators_path %></span>
			<div class="clear"></div>
		</div>
	</div>
	<div class="block full">
		<div class="wrapper">
			<!--<div class="type">Article <i class="fi-clipboard-notes"></i></div>-->
			<div class="full-text">
				<h3>Vous recherchez un orateur pour votre soirée?</h3>
				<div class="content">
					<%= image_tag image_url 'resources/orator.jpg' %>
					<p>Notre base de donnée compte pas moins de 200 orateurs référencés pour vous faciliter la tâche. Cherchez par thème, région, nom et trouvez celui qui apportera le thème de votre prochaine soirée.</p>
					<p>Rendez-vous <%= link_to 'ici', orators_path %>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>


</div>

<script type="text/javascript">
function goToByScroll(el){
$('html,body').animate({
  scrollTop: el.offset().top},
  'slow');
}
$('#btn-articles').click(function(e){
	e.preventDefault();
	goToByScroll($('#articles'));  
});
$('#btn-docs').click(function(e){
	e.preventDefault();
	goToByScroll($('#docs'));  
});
$('#btn-orators').click(function(e){
	e.preventDefault();
	goToByScroll($('#orators'));  
});
</script>