<% content_for :id, 'subjects' %>

<%= form_tag documents_path, method: :get, remote: true, id: "search-form" do %>

	<div id="_search-top">
		<h1>Documents</h1>
		<div class="right">
		 	<ul class="nav">
		 		<li class="marketing">
		 			<div class="marketing">
		 				<p>
							Ici, tu peux trouver de plus en plus de documents qui t’aideront dans tes responsabilités dans ton groupe, ton œuvre, ton réseau, tes camps… etc. Nous les rassemblons de divers horizons et si tu en as de bons à proposer, n’hésite pas à nous les faire parvenir! Thanks! 
		 				</p>
		 			</div>
		 		</li>
		 	<ul>
		</div>
		<div class="left">	
		  <div class="search">
		  	<div class="form">
					<%= search_field_tag :query, nil, placeholder: "Rechercher un document" %>
					<button>Tapez</button>
					<%= submit_tag "", :name => nil, type: :hidden %>
				</div>
		  </div>	
		</div>		
	</div>

	<div class="rows" id="results">
		<div class="left">
			<%= content_tag :div, id: "filter" do %>
		  	<h3>Filtres <span class="show">voir</span></h3>
		    <%= render 'theme_filter' %>
		  <% end %>	
		</div>
		<div class="results">
			<%= render 'results' %>
		</div>
		<div id="clear"></div>
	</div>
<% end %>