<% content_for :id, 'subjects' %>

<%= javascript_include_tag "subjects.js" %>

<%= form_tag documents_path, method: :get, remote: true, id: "search-form" do %>

	<div id="_search-top">
		<h1>Documents</h1>
		<div class="right">
		 	<ul class="nav">
		 		<li class="marketing">
		 			<div class="marketing">
		 				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum, felis sit amet adipiscing dapibus, magna erat gravida risus, a rhoncus lorem velit eget felis.</p>
		 			</div>
		 		</li>
		 	<ul>
		</div>
		<div class="left">	
		  <div class="search">
		  	<div class="form">
					<%= search_field_tag :query, nil, placeholder: "Rechercher un document" %>
					<button>Tapez</button>
					<%= submit_tag "", :name => nil, type: :hidden %>
				</div>
		  </div>	
		</div>		
	</div>

	<div class="rows" id="results">
		<div class="left">
			<%= content_tag :div, id: "filter" do %>
		  	<h3>Filtres <span class="show">voir</span></h3>
		    <ul>
		      <li>
		        <h4>Themes</h4>  
		      <li>
		        <% Theme.all.each do |theme| %>
		        	<div class="field">
								<%= label_tag theme.name %>
								<%= check_box_tag "themes_ids[]", theme.id %>
							</div>
						<% end %>
		      </li>
		    </ul>
		  <% end %>	
		</div>
		<div class="results">
			<%= render 'results' %>
		</div>
		<div id="clear"></div>
	</div>
<% end %>

<%= render 'ajax_loader' %>