<% content_for :id, 'subject-show' %>

<div class="top">
	<h1><%= "Document / #{@subject.name}" %></h1>
</div>
<%= render "resource_goback" %>

<h3><%= @subject.name %></h3>
<div class="content">
	<%= image_tag image_url "resources/documents/#{subject_type(@subject)}.png" %>
	<div class="txt">
		<%= simple_format @subject.description %> <span class="author">Créé par <%= @subject.user.full_name %> le <%= l @subject.created_at, format: :normal %></span>
	</div>
</div>
<div id="clear"></div>
<% @subject.documents.each do |document| %>

	<p class="name">
		<%= image_tag image_url "resources/documents/#{document_type(document)}.png" %><br><%= document.name %>
	</p>
	<% if document_type(document) == "video" %>
		<div class="video">
			<video controls>
			  <source src="<%= document.file.url %>" type="video/mp4" />
			  Votre navigateur ne supporte pas la lecture de ce format vidéo.
			</video>
		</div>
	<% end %>
	<div class="infos">
		<div class="left">
			<p>Titre</p>
			<p>Ajouté le</p>
			<p>Taille</p>
		</div>
		<div class="right">
			<p>
				<%= truncate(File.basename(document.file.path), length: 50) %>
			</p>
			<p><%= l document.created_at, format: :long %></p>
			<p><%= number_to_human_size document.size %></p>
		</div>
		<div class="get">
			<%= link_to 'Télécharger', download_document_path(document), target: "_blank" %>
		</div>
	</div>
<% end %>
