<%= form_for [:admin, @page] do |f| %>
  <%= render 'error_messages', object: f.object %>

  <div class="col split1">
    <div class="block">
      <div class="header">
        <h2>Statut</h2>
      </div>
      <ul>
        <li>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </li>
        <li>
          <%= f.label :content %>
          <%= f.text_area :content %>
        </li>
        <li>
          <%= f.label :help_category_id %>
          <%= f.collection_select :help_category_id, HelpCategory.all, :id, :name %>
        </li>
        <li>
          <%= f.submit %>
        </li>
      </ul>
    </div>
  </div>

<% end %>