<%= form_for [:admin, @card] do |f| %>
	
	<%= render 'error_messages', object: f.object %>
	<div class="col split2">
		<div class="block">
			<ul>
				<li>
					<%= f.label :name %>
					<%= f.text_field :name %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :description %>
					<%= f.text_area :description %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :card_id %>
					<%= f.collection_select :card_id, Card.where('card_type_id = ?', CardType.find_by_name("Réseau régional") ), :name, :id %>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :street %>
					<%= f.text_field :street %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :npa %>
					<%= f.number_field :npa %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :city %>
					<%= f.text_field :city %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :latitude %>
					<%= f.text_field :latitude %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :longitude %>
					<%= f.text_field :longitude %><br>
				</li>
			</ul>
		</div>
	</div>
	<div class="col split2">
		<div class="block">
			<ul>
				<li>
					<%= f.label :email %>
					<%= f.text_field :email %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :place %>
					<%= f.text_field :place %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :website %>
					<%= f.text_field :website %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :password_digest %>
					<%= f.password_field :password_digest %><br>
				</li>
			</ul>
		</div>
	</div>
	<%= @card.affiliation %>

	<div class="association_fields autocomplete" data-link="affiliations" >
		<%= f.fields_for(:affiliations, @card.affiliations.any? || @card.affiliations.build) do |affiliation_fields| %>
			<div class="fields">
				<%= affiliation_fields.label :name %>
				<%= affiliation_fields.text_field :name, data: {attr: "name"} %>
				<%= affiliation_fields.hidden_field :_destroy, identifier: "destroy" %>
				<%= link_to_remove_fields "remove" %>
			</div>
		<% end %>
		<%= link_to_add_fields("New affiliation") %>
	</div>

<<<<<<< HEAD
	<div class="block team">
		<div class="label">
			<p>
				<span class="num">8</span> Qui sont les <span class="b">responsables</span> du groupe? La personne de contact sera le référent du groupe. Il est nécessaire de marquer une personne
			</p>
		</div>
		<div class="association_fields autocomplete" data-link="responsables">
			<%= f.fields_for(:responsables, @card.responsables.any? || @card.responsables.build) do |responsables_fields| %>
				<%= content_tag :div, class: "fields" + ("contact" if responsables_fields.object.id == @card.responsable.id).to_s do %>
					<div class="field">
						<%= responsables_fields.label :firstname %>
						<%= responsables_fields.text_field :firstname, data: {attr: "firstname"} %>
					</div>
					<div class="field">
						<%= responsables_fields.label :lastname %>
						<%= responsables_fields.text_field :lastname, data: {attr: "lastname"} %>
					</div>
					<div class="field">
						<%= responsables_fields.label :email %>
						<%= responsables_fields.text_field :email %>
					</div>
					<div class="field">
						<%= responsables_fields.hidden_field :_destroy, identifier: "destroy" %>
						<%= link_to_remove_fields "remove" %>
						<%= responsables_fields.hidden_field :is_contact, identifier: "is_contact", value: ("true" if responsables_fields.object.id == @card.responsable.id) %>
						<%= link_to_add_contact "Mark as contact" unless responsables_fields.object.id == @card.responsable.id %>
					</div>
				<% end %>
			<% end %>
			<%= link_to_add_fields("New responsable") %>
		</div>
=======
	<div class="association_fields autocomplete" data-link="responsables">
		<%= f.fields_for(:responsables, @card.responsables.any? || @card.responsables.build) do |responsables_fields| %>
			<div class="fields">
				<%= responsables_fields.label :firstname %>
				<%= responsables_fields.text_field :firstname, data: {attr: "firstname"} %>
				<%= responsables_fields.label :lastname %>
				<%= responsables_fields.text_field :lastname, data: {attr: "lastname"} %>
				<%= responsables_fields.label :email %>
				<%= responsables_fields.text_field :email %>
				<%= responsables_fields.hidden_field :_destroy, identifier: "destroy" %>
				<%= link_to_remove_fields "remove" %>
				<%= responsables_fields.hidden_field :is_contact, identifier: "is_contact", value: ("true" if responsables_fields.object.is_contact == "true") %>
				<%= link_to_add_contact "Mark as contact" %>
			</div>
		<% end %>
		<%= link_to_add_fields("New responsable") %>
>>>>>>> d8af5badc29042051c0a171c14621b85d928e178
	</div>

	<%= f.label :card_type_id %>
	<%= f.collection_select :card_type_id, CardType.all, :id, :name, {}, class: "selectize" %><br>

	<%= f.label :tag_names %>
	<%= f.text_field :tag_names, class: "selectize-tags" %>

	<%= f.label :avatar %>
	<%= image_tag(@card.avatar_url) if @card.avatar? %>
	<%= f.file_field :avatar %>
	<%= f.check_box :remove_avatar %>

	<%= f.label :banner %>
	<%= image_tag(@card.banner_url) if @card.banner? %>
	<%= f.file_field :banner %>
	<%= f.check_box :remove_banner %>

	<% if !@card.validated && current_permission.allow_params?(params[:controller], "validated") %>
		<%= f.label :validated %>
		<%= f.check_box :validated, {}, true %>
	<% end %>

	<%= f.submit %>
<% end %>