<%= form_for [:admin, @card] do |f| %>
	
	<%= render 'error_messages', object: f.object %>
	<div class="col split2">
		<div class="block">
			<ul>
				<li>
					<%= f.label :name %>
					<%= f.text_field :name %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :description %>
					<%= f.text_area :description %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :street %>
					<%= f.text_field :street %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :npa %>
					<%= f.number_field :npa %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :city %>
					<%= f.text_field :city %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :latitude %>
					<%= f.text_field :latitude %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :longitude %>
					<%= f.text_field :longitude %><br>
				</li>
			</ul>
		</div>
	</div>
	<div class="col split2">
		<div class="block">
			<ul>
				<li>
					<%= f.label :email %>
					<%= f.text_field :email %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :place %>
					<%= f.text_field :place %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :website %>
					<%= f.text_field :website %><br>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :password_digest %>
					<%= f.password_field :password_digest %><br>
				</li>
			</ul>
		</div>
	</div>
	<%= @card.affiliations %>

	<div class="association_fields search" data-link="affiliations" >
		<%= f.fields_for(:affiliations, @card.affiliations.any? || @card.affiliations.build) do |affiliation_fields| %>
			<div class="fields">
				<%= affiliation_fields.label :name %>
				<%= affiliation_fields.text_field :name, data: {attr: "name"} %>
				<%= affiliation_fields.hidden_field :_destroy %>
				<%= link_to_remove_fields "remove" %>
			</div>
		<% end %>
		<%= link_to_add_fields("New affiliation") %>
	</div>

	<%= render 'responsables_fields', f: f %>

	<%= f.label :card_type_id %>
	<%= f.collection_select :card_type_id, CardType.all, :id, :name, {}, class: "selectize" %><br>

	<%= f.label :tag_names %>
	<%= f.text_field :tag_names, class: "selectize-tags" %>

	<% if !@card.validated && current_permission.allow_params?(params[:controller], "validated") %>
		<%= f.label :validated %>
		<%= f.check_box :validated, {}, true %>
	<% end %>

	<%= f.submit %>
<% end %>