<%= form_for [:admin, @status] do |f| %>

	<%= render 'error_messages', object: f.object %>

	<table>
		<tr>
			<td><%= f.label :name %></td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td><%= f.label :description %></td>
			<td><%= f.text_field :description %></td>
		</tr>
		<tr>
			<td><%= f.submit %></td>
		</tr>
	</table>

<% end %>