<%= form_for [:admin, @status] do |f| %>
	<%= render 'error_messages', object: f.object %>

	<div class="col split1">
		<div class="block">
			<div class="header">
				<h2>Statut</h2>
			</div>
			<ul>
				<li>
					<%= f.label :name %>
				</li>
				<li>
					<%= f.text_field :name %>
				</li>
			</ul>
			<ul>
				<li>
					<%= f.label :description %>
				</li>
				<li>
					<%= f.text_field :description %>
				</li>
			</ul>
			<ul>
				<li><%= f.submit %></li>
			</ul>
		</div>
	</div>

<% end %>