<div id="filter">

  <h3>Filtres <span class="show" ng-click="toggleFilter()">voir</span></h3>
  <div ng-show="filter == 'fermer'">
    <ul>
      <li>
        <h4>Thèmes</h4>  
      <li>
        <% Theme.order(:name).each do |theme| %>
          <div class="field">
            <input id='<%= "theme_#{theme.id}" %>' type="checkbox" checklist-change="search()"
                checklist-model="search.themes" checklist-value="<%= theme.id %>">
            <label for='<%= "theme_#{theme.id}" %>'><%= theme.name %></label>
          </div>
        <% end %>
      </li>
    </ul>

    <%= render 'canton_filter' %>
  </div>

</div>