<h1>Mettre à jour mes informations d'orateur</h1>

<%= link_to "Retour", profile_path %>

<%= form_with model: @orator, local: true, url: profile_orator_update_path do |f| %>

  <%= render "error_messages", object: f.object %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :street %>
  <%= f.text_field :street %>

  <%= f.label :location_id %>
  <%= f.collection_select :location_id, [f.object.location].compact, :id, :full_name, {}, { class: "orator_location", "data-controller": "select--locations" } %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>
  
  <%= f.label :theme_ids %>
  <%= f.collection_select :theme_ids, Theme.all, :id, :name, {}, { class: "orator_theme_ids", multiple: true, "data-controller": "select--simple" } %>

  <%= f.label :disponibility_ids %>
  <%= f.collection_check_boxes :disponibility_ids, Disponibility.all, :id, :name %>

  <%= f.label :disponibility %>
  <%= f.text_field :disponibility %>

  <%= f.submit %>

<% end %>