<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBgFFWiaY1lm8ex24rqBlwLmYnVU_bwmuU&sensor=false" %>
<%= javascript_include_tag "orators_index_map.js" %>
<%= javascript_include_tag "orators_index.js" %>
<%= javascript_include_tag "jquery.animate_colors.js" %>

<% content_for :id, 'orators' %>
<%= form_tag orators_path, method: :get, remote: true, id: "search-form" do %>

	<div class="top">
		<div class="right">
		 	<ul class="nav">
		 		<li class="hder">
		 			<div class="infos">
		 				<p>Vous êtes un orateur jeunesse?</p>
		 			</div>
		 			<div class="btn">
		 				<%= link_to "Faire une demande", contact_path %>
		 			</div>
		 		</li>
		 		<li class="marketing">
		 			<div class="marketing">
		 				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum, felis sit amet adipiscing dapibus, magna erat gravida risus, a rhoncus lorem velit eget felis.</p>
		 			</div>
		 		</li>
		 	<ul>
		</div>
		<div class="left">	
		  <div class="search">
		  	<div class="form">
					<%= search_field_tag :query, nil, placeholder: "Rechercher un orateur" %>
					<button>Tapez</button>
					<%= submit_tag "", :name => nil, type: :hidden %>
				</div>
		  </div>	
		</div>		
	</div>

	<%= render "resource_goback" %>

	<div class="rows" id="results">
		<div class="left">
			<%= content_tag :div, id: "filter" do %>
		  	<h3>Filtres <span class="show">voir</span></h3>
		    <ul>
		      <li>
		        <h4>Themes</h4>  
		      <li>
		        <% Theme.all.each do |theme| %>
		        	<div class="field">
								<%= label_tag theme.name %>
								<%= check_box_tag "themes_ids[]", theme.id %>
							</div>
						<% end %>
		      </li>
		    </ul>
		    <ul>
		      <li>
		        <h4>Canton</h4>  
		      <li>
		        <% Canton.all.each do |canton| %>
		        	<div class="field">
								<%= label_tag canton.name %>
								<%= check_box_tag "canton_ids[]", canton.id %>
							</div>
						<% end %>
		      </li>
		    </ul>
		  <% end %>	
			<div class="left-content"><%= render 'results_l' %></div>
		</div>
		<div class="right">
			<%= render 'results_r' %>
		</div>
		<div id="clear"></div>
	</div>
<% end %>

<%= render 'ajax_loader' %>