<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDNsGj5h-WJXPiLtYVn0TSfiisPwhEAbjg&sensor=false" %>
<%= javascript_include_tag "orators_index_map.js" %>

<% content_for :id, 'orators' %>

<div class="top">
	<h1>Vos orateurs</h1>
</div>
<%= render "resource_goback" %>

<%= form_tag reseau_path, method: :get, remote: true, id: "card-search-form" do %>

	<div class="rows" id="results">
		<div class="left">
			<div class="left-content"><%= render 'results_l' %></div>
		</div>
		<div class="right">
			<%= render 'results_r' %>
		</div>
		<div id="clear"></div>
	</div>
<% end %>

<%= render 'ajax_loader' %>