<% content_for :links do %>
  <%= link_to "Accueil", root_path %>
<% end %>

<div class="session-form session-form-orange">
  <div class="wrapper wrapper-bigger">
    <div class="title">
      <span>Inscription en tant qu'orateur d'orateur</span>
    </div>

<%= form_with model: @orator, local: true do |f| %>

  <%= render "error_messages", object: f.object %>

  <%= f.fields_for :user do |user_f| %>

    <div class="row">
      <%= user_f.label :firstname %>
      <%= user_f.text_field :firstname %>
    </div>

    <div class="row">
      <%= user_f.label :lastname %>
      <%= user_f.text_field :lastname %>
    </div>

    <div class="row">
      <%= user_f.label :email %>
      <%= user_f.email_field :email %>
    </div>

    <div class="row">
      <%= user_f.label :password %>
      <%= user_f.password_field :password %>
    </div>

    <div class="row">
      <%= user_f.label :password_confirmation %>
      <%= user_f.password_field :password_confirmation %>
    </div>

  <% end %>

  <div class="row">
    <%= f.label :description %>
    <%= f.text_area :description, "rows": 10, placeholder: "Parlez-nous de vous..." %>
  </div>

  <div class="row">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>

  <div class="row">
    <%= f.label :location_id %>
    <%= f.collection_select :location_id, [f.object.location].compact, :id, :full_name, {}, { class: "orator_location", "data-controller": "select--locations" } %>
  </div>

  <div class="row">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="row">
    <%= f.label :theme_ids %>
    <%= f.collection_select :theme_ids, Theme.all, :id, :name, {}, { class: "orator_theme_ids", multiple: true, "data-controller": "select--simple" } %>
  </div>

  <div class="row">
    <%= f.label :disponibility_ids %>
    <%= f.collection_check_boxes :disponibility_ids, Disponibility.all, :id, :name %>
  </div>

  <div class="row">
    <%= f.label :disponibility %>
    <%= f.text_field :disponibility %>
  </div>

  <%= f.submit %>

<% end %>

  </div>
</div>