<% content_for :id, "container-orators-show" %>

<section class="std-top">
  <div class="content-wrapper">
    <h1><%= "#{@orator.user.firstname} #{@orator.user.lastname}" %></h1>
  </div>
</section>

<section class="std-container">
  <div class="left">
    <h2><%= "#{@orator.user.firstname} #{@orator.user.lastname}" %></h2>
    <p class="bigger"><%= @orator.description %></p>
    <p>Disponibilités: <%= @orator.disponibility %></p>

    <p class="contact">Contact: <a href="#form">formulaire en bas de page</a>

    <div class="redbox">
      <h3>Thêmes d'enseignement:</h3>
      <% @orator.themes.each do |theme| %>
        <p><%= theme.name %></p>
      <% end %>
    </div>

    <div class="contact">
      <p><b>Contacter cet orateur</b></p>
      <p>Merci de n'utiliser ce service seulement si tu recherche un orateur pour une soirée / événement. Si tu as déjà envoyé un message mais que tu n'as pas reçus de réponse ne renvois pas un message tout de suite mais attend quelques semaines.
    </div>

    <form id="form">
      <div class="row">
        <p>Ton message</p>
        <textarea></textarea><br>
      </div>
      <div class="row">
        <p>Ton email</p>
        <input type="email"><br>
      </div>
      <div class="row">
        <p>Combien font 2+2?</p>
        <input type="text"><br>
      </div>

      <input type="submit" value="Envoyer un message"/>
    </form>

  </div>

  <div class="right">
    <%= image_tag "orators/Illustration-orateurs.jpg" %>

    <h2>Canton de domicile</h2>
    <p class="canton"><%= @orator.location.canton.name %></p>
  </div>
</section>