<% content_for :id, "container-orators-show" %>

<section class="std-top">
  <div class="content-wrapper">
    <h1><%= "#{@orator.user.firstname} #{@orator.user.lastname}" %></h1>
  </div>
</section>

<section class="std-container">
  <div class="left">

    <div class="intro">
      <h2><%= "#{@orator.user.firstname} #{@orator.user.lastname}" %></h2>
      <p class="bigger"><%= @orator.description %></p>
    </div>

    <p>Disponibilités: <%= @orator.disponibility %></p>

    <p class="contact"><span>Contact</span> <a href="#form">formulaire en bas de page</a>

    <h2 class="subjects">Thèmes</h2>

    <div class="redbox">
      <h3>Thèmes d'enseignement:</h3>
      <% @orator.themes.each do |theme| %>
        <p><%= theme.name %></p>
      <% end %>
    </div>

    <div class="session-form session-form-orange">
      <div class="wrapper wrapper-full">
        <div class="contact">
          <p><b>Contacter cet orateur</b></p>
          <p>Merci de n'utiliser ce service seulement si tu recherches un orateur pour une soirée / événement. Si tu as déjà envoyé un message mais que tu n'as pas reçu de réponse, ne renvoie pas un message tout de suite mais attend quelques semaines.
        </div>
        
        <%= render "contact/form", contact: @contact, url: contact_orator_path(@orator, anchor: "form") %>
      </div>
    </div>
  </div>

  <div class="right">
    <p class="img"><%= image_tag "orators/Illustration-orateurs.jpg" %></p>

    <h2>Canton de domicile</h2>
    <p class="canton"><%= @orator.location.canton.name %></p>
  </div>
</section>