<div id="filter">
  <h3>Filtres <span class="show" ng-click="toggleFilter()">{{ filter }}</span></h3>
  <div ng-show="filter == 'fermer'">
    <ul>
      <li>
        <h4>Types</h4>
      <li>
        <% CardType.all.each do |card_type| %>
          <div class="field">
            <input id='<%= "card_type_#{card_type.id}" %>' type="checkbox" checklist-change="search()"
              checklist-model="search.types" checklist-value="<%= card_type.id %>">
            <label for='<%= "card_type_#{card_type.id}" %>' class="<%= type_color(card_type.name) %>">
              <%= card_type.name %>
            </label>
          </div>
        <% end %>
      </li>
    </ul>

    <%= render 'canton_filter' %>

    <ul>
      <li>
        <h4>Tags</h4>
      <li>
        <% Tag.order('popularity desc').last(10).each do |tag| %>
          <div class="field">
            <input id='<%= "tag_#{tag.id}" %>' type="checkbox" checklist-change="search()"
              checklist-model="search.tags" checklist-value="<%= tag.id %>">
            <label for='<%= "tag_#{tag.id}" %>'><%= tag.name %></label>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</div>
