<%= form_for @card, url: change_cards_path, remote: true do |f| %>
	<%= render 'error_messages', object: f.object %>
	<%= yield f %>
	<%= f.hidden_field :current_step, value: @card.current_step %>

	<div class="clear"></div>
	<% if !@card.first_step? %>
		<div class="back">
			<%= f.submit "Revenir en arrière", :name => "step[#{@card.previous_step}]" %>
		</div>
	<% end %>
	<% unless @card.last_step? %>
		<div class="next">
			<%= f.submit "Prochaine étape", :name => "step[#{@card.next_step}]", class: 'next'  %>
		</div>
		<div class="final">
			<%= f.submit "aller à la fin", :name => "step[final]", class: 'final' %>
		</div>
	<% end %>
<% end %>