<%= render layout: 'form' do |f| %>

	<div class="welcome">
		<div class="txt">
			<p> Bienvenue dans le processus.<br> En suivant quelques étatpes vous allez pouvoir enregistrer votre oeuvre jeunesse. Pour passer à l'étape suivante, il faut valider l'étape en cours.</p>
		</div>
	</div>
	
	<div class="block">
		<div class="label">
			<p><span class="num">1</span> Indiquez le <span class="b">nom</span> de votre groupe</p>
		</div>
		<!-- 	<%= f.label :name %> -->
		<%= f.text_field :name, placeholder: 'Nom' %>
	</div>
	
	<div class="block">
		<div class="label">
			<p><span class="num">2</span> Entrez une courte <span class="b">description</span>. Une bonne description améliore les résultats de recherche.</p>
		</div>
		<!-- 	<%= f.label :description %> -->	
		<%= f.text_area :description, placeholder: 'Description' %>
	</div>

	<div class="block">
		<!-- 	<%= f.label :card_type_id %> -->
		<div class="label">
			<p><span class="num">3</span> Quelle <span class="b">catégorie</span> vous correspond le mieux?</p>
		</div>
		<%= f.collection_select :card_type_id, CardType.all, :id, :name, {include_blank: "Catégorie"}, {class: "selectize"} %>
	</div>

	<div class="block">
		<div class="label">
			<p>
				<span class="num">4</span>Faites-vous partie d'un <span class="b">réseau régional</span>? (optionnel)
			</p>
		</div>
		<%= f.collection_select :parent_ids, Card.regional, :id, :name, {include_blank: "Sélectionnez des réseaux"}, {class: "selectize-cards", multiple: true} %>
	</div>


<% end %>

