<%= render layout: 'form' do |f| %>
	
	<div class="block">
		<div class="label">
			<p><span class="num">1</span> Indiquez le <span class="b">nom</span> de votre groupe</p>
		</div>
		<!-- 	<%= f.label :name %> -->
		<%= f.text_field :name %>
	</div>
	
	<div class="block">
		<div class="label">
			<p><span class="num">2</span> Entrez une courte <span class="b">description</span>. Une bonne description améliore les résultats de recherche.</p>
		</div>
		<!-- 	<%= f.label :description %> -->	
		<%= f.text_area :description %>
	</div>

	<div class="block">
		<!-- 	<%= f.label :card_type_id %> -->
		<div class="label">
			<p><span class="num">2</span> Quelle <span class="b">catégorie</span> vous correspond le mieux?</p>
		</div>
		<%= f.collection_select(:card_type_id, CardType.all, :id, :name) %>
	</div>

	<div class="block">
		<!-- 	<%= f.label :card_id %> -->
		<div class="label">
			<p>
				<span class="num">3</span> Faites-vous partie d'un <span class="b">réseau régional</span>?
			</p>
		</div>
		<%= f.collection_select :card_id, Card.where('card_type_id = ?', CardType.find_by_name("Réseau régional") ), :name, :id %>
	</div>

<% end %>

<style type="text/css">
.selectize-control {
	height: 40px;
}
	.selectize-control .selectize-input {
		height: 100%;
	}
		.selectize-control .selectize-input input {
			padding-bottom: 18px !important;
			display: none;
		}
</style>

<script type="text/javascript">window.onload=selectize();</script>