<%= render layout: 'form' do |f| %>

	<div class="block">
		<div class="label">
			<p>
				<span class="num">3</span> Quelle est votre <span class="b">rue</span>?
			</p>
		</div>
		<!-- 	<%= f.label :street %> -->
		<%= f.text_field :street %>
	</div>

	<div class="block">
		<div class="label">
			<p>
				<span class="num">4</span> Dans quelle<span class="b">localité</span>habitez-vous?
			</p>
		</div>
		<% location = f.object.location %>
		<%= f.collection_select :location_id, (location.nil? ? [] : [location] ), :id, :full_name, {include_blank: "Tapez une ville"}, {class: "selectize-location"} %>
	</div>
	
	<div class="block">
		<div class="label">
			<p><span class="num">6</span> Où est votre <span class="b">lieu</span> de rencontre? (à l'église, dans la rue, en face de la gare ...)</p>
		</div>
		<!-- 	<%= f.label :place %> -->
		<%= f.text_field :place %>
	</div>

	<div class="clear"></div>	

	<!-- 	<%= f.label :latitude %> -->
	<%= f.text_field :latitude, id: "lat", type: :hidden %>

	<!-- 	<%= f.label :longitude %> -->
	<%= f.text_field :longitude, id: "lng", type: :hidden %>

	<div class="block" style="position:relative">
		<div class="label">
			<p><span class="num">7</span> Sur une carte, quelle est votre <span class="b">emplacement</span>? Positionnez le curseur en cliquant sur la carte au bon endroit </p>
		</div>
		<div id="map-canvas"></div>
		<div class="map-panel">
			<input id="address" type="textbox" value="Switzerland">
      <input type="button" value="find" id="geocode-addr">
		</div>	
	</div>

<% end %>


<script type="text/javascript">

	map = gmap.initialize();
	var street = document.getElementById('card_street');
	var address = document.getElementById('address');
	var btn = document.getElementById('geocode-addr');
	street.onchange = function(){
		address.value = street.value + " " + $('.item').html() + ", Switzerland";
	}
	document.getElementById('card_location_id').onchange = function(){
		address.value = street.value + " " + $('.item').html() + ", Switzerland";
	}
	btn.onclick = function(){
		gmap.codeAddress(address.value, map.map, map.marker);
	};

</script>