<p class="type">
	<%= card.card_type.name %>
</p>
<%= card.name %>
<%= link_to 'voir fiche', card_path(card) %>
<% if card.network? == 1 %>
	<p id="net-toggle-<%= card.id %>" data-id="<%= card.id %>"><button><span class="a">Afficher/Masquer</span> son réseau</button></p>
<% end %>