<div class="left">
  <div id="facets">

	<%= @cards %>
  <h3>Tags</h3>
    <ul>
      <% for row in @search.facet(:tags).rows %>
        <li>
          <% if params[:tag].blank? %>
            <%= link_to row.value, {search: params[:search], tag: row.value}, remote: true %> (<%= row.count %>)
          <% else %>
            <strong><%= row.value %></strong> (<%= link_to "remove", search: params[:search], :tag => nil, remote: true %>)
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
	<div class="index">
		<div class="letter"><p>A</p></div>
		<p>Abricôts</p>
		<p>Association des jeunes</p>
		<p>Activ' your life!</p>
		<div class="letter"><p>B</p></div>
		<p>BCD</p>
		<p>Bayboloss les gars</p>
		<div class="letter"><p>C</p></div>
		<p>CANA</p>
		<p>CEP'4U</p>
		<p>CFF - Chrétiens Fou Furieux</p>
		<p>Chez toi</p>
		<p>Colo</p>
		<p>com.d'@b</p>
		<p>Commission de jeunesse mennonite Suisse</p>
		<p>Contact</p>
		<p>CTT - chrétiens tous terrains</p>
		<div class="letter"><p>D</p></div>
		<p>DeepImpact</p>
		<p>des-gens-T</p>
		<p>DKP</p>
		<div class="letter"><p>E</p></div>
		<p>Espace-Jeunes</p>
		<div class="letter"><p>F</p></div>
		<p>Factory.fm</p>
		<p>Firestation (C3 Lausanne)</p>
		<div class="letter"><p>G</p></div>
		<p>GB</p>
	</div>
</div>
<div class="right">
	<div id="map2"></div>
</div>