<div class="left">
	<div id="facets" data-tag="<%= @options[:tag] %>">
  <h3>Tags</h3>
    <ul>
      <% for row in @search.facet(:tags).rows %>
        <li>
          <% if params[:tag] != row.value %>
            <%= link_to row.value, {search: @options[:search], tag: row.value}, remote: true %> (<%= row.count %>)
          <% else %>
            <strong><%= row.value %></strong> (<%= link_to "remove", search: @options[:search], :tag => nil, remote: true %>)
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
	<div class="index">
		<% current = @cards.first.name[0].downcase %>
		<div class="letter"><p><%= current %></p></div>
		<% @cards.each do |card| %>
			<% if card.name[0].downcase != current %>
				<% current = card.name[0].downcase %>
				<div class="letter"><p><%= current %></p></div>
			<% end %>
			<p><%= link_to card.name, card_path(card) %></p>
		<% end %>
	</div>
</div>
<div class="right">
  <script type="text/javascript">
    // Import from ruby
    <% sum = 0 %>
    <% @cards.map{|a| sum = sum+a.latitude} %>
    var latCenter =  <%= sum / @cards.size %>;
    <% sum = 0 %>
    <% @cards.map{|a| sum = sum+a.longitude} %>
    var lngCenter =  <%= sum / @cards.size %>;
    var addressPoints = <%= raw @cards.map {|a| [a.latitude,a.longitude,"#{a.name} #{link_to 'voir fiche', card_path(a)}"] } %>;
  </script>
	<%= render 'map' %>
</div>
