<%= will_paginate @cards %>
<div class="left">

  <%= content_tag :div, data: {tag: @options[:tag], page: @options[:page]}, id: "facets" do %>
  <h3>Tags <span class="show">voir</span></h3>
    <ul>
      <% for row in @search.facet(:tags).rows %>
        <li>
          <% if params[:tag] != row.value %>
            <%= link_to row.value, {search: @options[:search], page: @options[:page], tag: row.value}, remote: true %> <span class="count"><%= row.count %>x</span>
          <% else %>
            <strong><%= row.value %></strong> (<%= link_to "remove", search: @options[:search], page: @options[:page], :tag => nil, remote: true %>)
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= content_tag :div, data: {tag: @options[:tag], page: @options[:page]}, id: "filter" do %>
  <h3>Filtres <span class="show">voir</span></h3>
    <ul>
      <li>
        <h4>Type</h4>  
      <li>
        <div class="field"><input type="checkbox" name="chk_group" value="value1" /><p>Groupe de jeunes</p></div>
        <div class="field"><input type="checkbox" name="chk_group" value="value2" /><p>Groupe de jeunes adultes</p></div>
        <div class="field"><input type="checkbox" name="chk_group" value="value3" /><p>Groupe d'action</p></div>
        <div class="field"><input type="checkbox" name="chk_group" value="value3" /><p>Oeuvre jeunesse</p></div>
        <div class="field"><input type="checkbox" name="chk_group" value="value3" /><p>Réseau régional</p></div>
      </li>
      <li>
        <h4>Canton</h4>
      </li>
      <li>
        <div class="field"><input type="checkbox" name="chk_group" value="value1" /><p>Fribourg</p></div>
        <div class="field"><input type="checkbox" name="chk_group" value="value2" /><p>Vaud</p></div>
        <div class="field"><input type="checkbox" name="chk_group" value="value3" /><p>Genève</p></div>
        <div class="field"><input type="checkbox" name="chk_group" value="value3" /><p>Oeuvre jeunesse</p></div>
        <div class="field"><input type="checkbox" name="chk_group" value="value3" /><p>Réseau régional</p></div>
      </li>
    </ul>
  <% end %>

	<div class="index">
    <% if @cards.any? %>
      <ul>
    		<% current = @cards.first.name[0].downcase %>
    		<li class="letter"><%= current %></li>
    		<% @cards.each do |card| %>
    			<% if card.name[0].downcase != current %>
    				<% current = card.name[0].downcase %>
    				<li class="letter"><%= current %></li>
    			<% end %>
    			<li class="card">
            <%= content_tag :span, card.card_type.name, class: 'type' %> <%= link_to card.name, card_path(card) %>
            <i class="fi-arrow-down show-description"></i>
            <i class="fi-marker show-on-map" data-id="<%= card.id %>"></i>
            <p class="description"><i class="fi-megaphone"></i><%= card.description %></p>
          </li>
    		<% end %>
      </ul>
      <% else %>
        <p>Votre recherche n'a donné aucun résultat.</p>
      <% end %>
	</div>
</div>
<div class="right">
  <% if @cards.any? %>
    <script type="text/javascript">
      // Import from ruby
      <% sum = 0 %>
      <% @cards.map{|a| sum = sum+a.latitude} %>
      var latCenter =  <%= sum / @cards.size %>;
      <% sum = 0 %>
      <% @cards.map{|a| sum = sum+a.longitude} %>
      var lngCenter =  <%= sum / @cards.size %>;
      var addressPoints = <%= map_points(@cards) %>;
    </script>
    <%= render 'map' %>
    <% end %>
</div>
<div class="clear"></div>

<script type="text/javascript">
/* Show marker when click */
  $('.show-on-map').click(function(){
    var link = $(this);
    document.getElementById('map').scrollIntoView();
    markers.eachLayer(function(layer){
      console.log("ga");
      if(layer.options.id == parseInt(link.data("id"))) {
        markers.zoomToShowLayer(layer, function() {
          layer.openPopup();
        });
      }
    });
  });
</script>

<script type="text/javascript">
  /* Tags */
  $('#facets ul').hide();
  $('#facets h3 span').click(function(){
    var btn = $(this);
    $('#facets ul').slideToggle();
    if (btn.text()=="voir") { 
      btn.text("fermer");
    } else { 
      btn.text("voir"); 
    }
  });

  /* Filters */
  $('#filter ul').hide();
  $('#filter h3 span').click(function(){
    var btn = $(this);
    $('#filter ul').slideToggle();
    if (btn.text()=="voir") { 
      btn.text("fermer");
    } else { 
      btn.text("voir"); 
    }
  });

  /* Description */
  $('.index .description').hide();
  $('.show-description').click(function(){
    var btn = $(this)
    var el = btn.next().next();
    if(el.css("display")=="none") {
      btn.css("color", "rgba(39,40,41,1)");
    } else {
      btn.css("color", "rgba(39,40,41,.6)");
    }
    el.slideToggle();
  });
</script>
