<div class="head">
	<%= f.submit "Général", :name => "step[general]", class: ("current_step" if @card.current_step == "general") %>
	<%= f.submit "Lieu", :name => "step[location]", class: ("current_step" if @card.current_step == "location") %>
	<%= f.submit "Equipe", :name => "step[team]", class: ("current_step" if @card.current_step == "team") %>
	<%= f.submit "Extra", :name => "step[extra]", class: ("current_step" if @card.current_step == "extra")  %>
	<%= f.submit "Final", :name => "step[final]", class: ("current_step" if @card.current_step == "final")  %>
</div>