<% content_for :banH, '0' %>
<% content_for :banI, '' %>
<% content_for :id, 'cards' %>

<%= javascript_include_tag "map/a_mapbox_v1.5.2.js" %>
<%= javascript_include_tag "map/b_leaflet.markercluster.js" %>

<!-- <div class="marketing">
  <p> notre objectif :</p>
</div> -->
<div class="tools">
  <div class="search">
    <%= form_tag reseau_path, :method => :get do %>
      <%= text_field_tag :search, params[:search], placeholder: "Cherchez ici", class: "live-search" %>
      <button>Tapez</button>
      <%= submit_tag "Go", :name => nil, type: :hidden %>
    <% end %>
  </div>
</div>

<div class="rows" id="results">
  <%= render 'results' %>
</div>