<% content_for :id, 'cards' %>

<%= form_tag reseau_path, method: :get, remote: true, id: "search-form" do %>
	<div id="_search-top">
		<div class="right">
		 	<ul class="nav">
		 		<li class="hder">
		 			<div class="infos">
		 				<p>Vous n'y êtes pas encore?</p>
		 			</div>
		 			<div class="btn">
		 				<%= link_to "Rejoindre le réseau", new_card_wizard_path %>
		 			</div>
		 		</li>
		 		<li class="marketing">
		 			<div class="marketing">
		 				<p><b>Le réseau!</b> En connectant ton groupe, ton organisation ou ton événement à tout ce qui se fait en Suisse romande, tu contribues à une vue d’ensemble motivante et à une visibilité nouvelle dans ta région et bien au-delà. Zoom dans ta région et sois encouragé de voir tout ce qui s'y vit!</p>
		 			</div>
		 		</li>
		 	<ul>
		</div>
		<div class="left">	
		  <div class="search">
		  	<div class="form">
					<%= search_field_tag :query, params[:query], placeholder: "essayez 'gdj', 'camps', 'Lausanne'" %>
					<button>Tapez</button>
					<%= submit_tag "", :name => nil, type: :hidden %>
				</div>
		  </div>	
		</div>		
	</div>

	<div class="rows" id="results">
		<div class="left">
				<%= content_tag :div, id: "filter" do %>
			  	<h3>Filtres <span class="show">voir</span></h3>
			    <ul>
			      <li>
			        <h4>Types</h4>  
			      <li>
			        <% CardType.all.each do |card_type| %>
			        	<div class="field">
									<%= check_box_tag "card_type_ids[]", card_type.id, false, { id: "card_type_#{card_type.id}" } %>
									<%= label_tag "card_type_#{card_type.id}", card_type.name, class: color_color_type(card_type) %>
								</div>
							<% end %>
			      </li>
			    </ul>
			    <%= render 'canton_filter' %>
			    <ul>
			      <li>
			        <h4>Tags</h4>  
			      <li>
			        <% Tag.order('popularity desc').last(10).each do |tag| %>
			        	<div class="field">
									<%= check_box_tag "tag_ids[]", tag.id, false, { id: "tag_#{tag.id}" } %>
									<%= label_tag "tag_#{tag.id}", "#{tag.name} (#{tag.popularity})" %>
								</div>
							<% end %>
			      </li>
			    </ul>
			  <% end %>	
			<div class="left-content"><%= render 'results_l' %></div>
		</div>
		<div class="right">
			<%= render 'results_r' %>
		</div>
		<div class="clear"></div>
	</div>
<% end %>
