<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDNsGj5h-WJXPiLtYVn0TSfiisPwhEAbjg&sensor=false" %>
<%= javascript_include_tag "cards-new-map.js" %>
<%= javascript_include_tag "chosen.jquery.min.js" %>


<% content_for :banH, '0' %>
<% content_for :banI, '' %>
<% content_for :id, 'cards-form' %>

<script type="text/javascript">
	// because of ajax, functions need to be called
	function select() {
		$('#card_card_type_id').selectize({
	    create: true,
	    sortField: 'text'
		});
	};

	function tags() {
		$('.selectize-tags').selectize({
	    delimiter: ' ',
	    valueField: 'name',
	    labelField: 'name',
	    searchField: 'name',
	    maxItems: 5,
	    persist: false,
	    sortField: [{field: 'popularity', direction: 'desc'}],
	    create: true,
	    render: {
	      option: function(item, escape) {
	        return '<div><span>' + escape(item.name) + '</span><span>' + escape(item.popularity || "None") + '</span></div>';
	      }
	    },
	    load: function(query, callback) {
	      if (!query.length) return callback();
	      $.ajax({
	        url: '/searches/tags',
	        type: 'POST',
	        data: 'query=' + query,
	        dataType: 'json',
	        error: function() {
	          callback();
	        },
	        success: function(res) {
	          callback(res);
	        }
	      });
	    }
	  });
	}
</script>

<div class="top">
	<h1><%=t 'card.create.title' %></h1>
	<div class="head"><%= yield :head %></div>
</div>

<p class="expired"></p>

<div class="wizard">
	<%= render "#{@card.current_step}_step" %>
</div>

<script>
	setTimeout(function() { window.location.reload(); alert("La session de création d'un groupe a expiré") }, 1800000);
</script>