<% if @card.validity == "disabled" %>
  <% content_for :id, "container-cards-show disabled" %>
<% else %>
  <% content_for :id, "container-cards-show" %>
<% end %>

<section class="std-top">
  <div class="content-wrapper">
    <h1><%= @card.name %></h1>
  </div>
</section>

<section class="std-container">
  <div class="left">

    <div class="intro">
      <h2><%= @card.name %></h2>
      <% if @card.validity == "disabled" %>
       <p class="outdated">Attention, ce groupe n'as pas été mis à jour depuis longtemps (<%= time_ago_in_words(@card.last_updated) %>).</p>
      <% end %>
      <p class="bigger"><%= @card.description %></p>
    </div>

    <% if @card.website.present? %>
    <p class="website"><span>Site web</span> <%= link_to @card.website, @card.website, {"target": "_blank"} %></p>
    <% end %>

    <h2 class="contact">Contact</h2>

    <div class="redbox">
      <h3>Contact:</h3>
      <p><%= "#{@card.user.firstname} #{@card.user.lastname}" %></p>
      <p><%= @card.email %></p>
    </div>

    <p class="last-updated">Dernière mise à jour il y a <%= time_ago_in_words(@card.last_updated) %> (<%= @card.last_updated.strftime("%d/%m/%y") %>)</p>
  </div>

  <div class="right">
    <h2>situation</h2>

    <div data-controller="cards--show" data-cards--show-target="map" data-card="<%= @card.to_map_feature %>">
      <div class="map-holder">
        <div id="mapbox"></div>

        <div class="table" data-cards--show-target="items">
        </div>

        <div style="display: none">
          <div data-cards--show-target="numbers"></div>
          <div data-cards--show-target="number"></div>
          <div data-cards--show-target="numberwrapper"></div>
          <div data-cards--show-target="numberTemplate"></div>
          <div data-cards--show-target="previous"></div>
          <div data-cards--show-target="next"></div>
          <div data-cards--show-target="total"></div>
        </div>
      </div>
    </div>

    <div class="location-info">
      <p><%= @card.street %></p>
      <p><%= @card.location.zip %> <%= @card.location.official_name %> (<%= @card.location.canton.name %>)</p>

      <% if @card.place.present? %>
        <h2 class="location">lieu de rencontre</h2>
        <p><%= @card.place %></p>
      <% end %>
    </div>
  </div>
</section>