<% content_for :id, 'cards-show' %>


<div class="row header">
	<div class="errors"></div>

	<div class="left graphics">
		<div class="main-title">
			<p><%= @card.card_type.name %></p>
			<h1><%= @card.name %></h1>
		</div>

		<div id="ajax-banner-part"><%= render 'cards/images/banner' %></div>
		<div id="ajax-avatar-part"><%= render 'cards/images/avatar' %></div>

	</div>
	<div class="right map-wrapper">
		<button id="show-map" type="button"><span class="fi-map"></span> Emplacement sur la carte</button>
		<div class="map-canvas-wrapper">
			<div id="map-canvas"></div>
		</div>
	</div>
</div>

<div id="clear"></div>

<div class="row">
	<div class="left desc">
		<% if current_permission.allow_modify?('cards', 'edit', @card) %>
			<%= link_to "Editer <span class='fi-pencil'></span>".html_safe, overview_card_path(@card), class: 'edit' %>
		<% end %>

		<div class="description"><%= simple_format @card.description %></div>
	</div>
	<div class="right">
		<div class="location">
			<i class="fi-marker"></i>
			<div class="txt">
				<p><%= @card.street %></p>
				<p><%= @card.location.npa %> <%= @card.location.official_name %></p>
				<p class="place"><%= @card.place %></p>
			</div>
		</div>
		<div class="contact">
			<i class="fi-mail"></i>
			<p class="aobfuscate"><%= @card.email.present? ? @card.email.reverse : ' - ' %></p>
		</div>
		<div class="website">
			<i class="fi-web"></i>
			<p><%= link_to(@card.website, @card.website, target: "_blank") or ' - ' %></p>
		</div>
	</div>
</div>

<div id="clear"></div>
<div class="row">
	<div class="left">
		<div class="team">
			<h3>Team</h3>
			<% @card.confirmed_users.each do |user| %>
				<div class="resp">
					<p>
						<%=	user.firstname %>
						<%= content_tag :span, user.lastname, class: 'lastname' %>
					</p>
				</div>
			<% end %>
			<% @card.responsables.each do |responsable| %>
				<div class="resp">
					<p>
						<%= responsable.firstname %>
						<%= content_tag :span, responsable.lastname, class: 'lastname' %>
					</p>
				</div>
			<% end %>
		</div>
	</div>
	<% if(parents = @card.parents).any? %>
		<div class="right">
			<div class="networks">
				<h3><%= "Réseau".pluralize(parents.size) %></h3>
				<ul>
					<% parents.each do |network| %>
						<li><%= link_to "#{network.name} <span class='fi-link'></span>".html_safe, card_path(network) %></li>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>
</div>

<% if @card.network? %>
	<div class="row">
		<div class="left">
			<div class="members">
				<h3><%= "Membre".pluralize(@card.inverse_parents.size) %> du réseau</h3>
				<ul>
					<% @card.inverse_parents.each do |member| %>
						<li><%= link_to "#{member.name} <span class='fi-link'></span>".html_safe, card_path(member) %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div id="clear"></div>
<% end %>

<% @card.affiliations.each do |affiliation| %>
	<%= affiliation.name %>
<% end %>
