<% content_for :id, "container-cards-show" %>

<section class="std-top">
  <div class="content-wrapper">
    <h1><%= @card.name %></h1>
  </div>
</section>

<section class="std-container">
  <div class="left">

    <div class="intro">
      <h2><%= @card.name %></h2>
      <p class="bigger"><%= @card.description %></p>
    </div>

    <% if @card.website.present? %>
    <p class="website"><span>Site web</span> <%= link_to @card.website, @card.website, {"target": "_blank"} %></p>
    <% end %>

    <h2 class="contact">Contact</h2>

    <div class="redbox">
      <h3>Contact:</h3>
      <p><%= "#{@card.user.firstname} #{@card.user.lastname}" %></p>
      <p><%= @card.email %></p>

      <h3>Dernière mise à jour:</h3>
      <p><%= @card.last_updated.strftime("%d/%m/%y") %></p>
    </div>
  </div>

  <div class="right">
    <h2>situation</h2>

    <div data-controller="cards--show" data-target="cards--show.map" data-card="<%= @card.to_map_feature %>">
      <div class="map-holder">
        <div id="mapbox"></div>

        <div class="table" data-target="cards--show.items">
        </div>

        <div style="display: none">
          <div data-target="cards--show.numbers"></div>
          <div data-target="cards--show.number"></div>
          <div data-target="cards--show.numberwrapper"></div>
          <div data-target="cards--show.numberTemplate"></div>
          <div data-target="cards--show.previous"></div>
          <div data-target="cards--show.next"></div>
          <div data-target="cards--show.total"></div>
        </div>
      </div>
    </div>

    <div class="location-info">
      <p><%= @card.street %></p>
      <p><%= @card.location.zip %> <%= @card.location.canton.name %></p>

      <% if @card.place.present? %>
        <h2 class="location">lieu de rencontre</h2>
        <p><%= @card.place %></p>
      <% end %>
    </div>
  </div>
</section>