<% content_for :id, 'cards-show' %>

<div class="top">
	<h1><%= @card.card_type.name %>: <%= @card.name %></h1>
</div>

<div class="row header">
	<div class="left graphics">
		<% if @card.banner_url.present? %>
			<%= image_tag @card.banner.url, class: 'banner' %>
		<% else %>
			<%= image_tag 'card/default-banner.jpg', class: 'banner' %>
		<% end %>
		<% if @card.avatar_url.present? %>
			<%= image_tag @card.avatar.thumb.url, class: 'logo' %>
		<% else %>
			<%= image_tag 'card/default-logo.jpg', class: 'logo' %>
		<% end %>
		<% if current_permission.allow_modify?('cards','edit', @card) %>
			<div class="edit-banner">
				<button class="edit-banner" type="button">Editer <span class='fi-pencil'></span></button>
				<div class="tools">
					<ul>
						<% if @card.banner_url.present? %><li><button type="button"><span class="fi-x"></span> Supprimer l'image</li></button><% end %>
						<li><span class="fi-pencil"></span><%= link_to "Changer l'image", banner_card_images_path(@card), remote: true, class: "edit-banner" %></li>
						<li><button type="button"><span class="fi-info"></span> Aide sur le format</li></button>
					</ul>
				</div>
			</div>
			<div class="edit-logo">
				<button class="edit-logo" type="button">Editer <span class='fi-pencil'></span></button>
				<div class="tools">
					<ul>
						<% if @card.banner_url.present? %><li><button type="button"><span class="fi-x"></span> Supprimer l'image</li></button><% end %>
						<li><button type="button"><span class="fi-pencil"></span> Changer l'image</li></button>
						<li><button type="button"><span class="fi-info"></span> Aide sur le format</li></button>
					</ul>
				</div>			
			</div>
		<% end %>	
	</div>
	<div class="right map-wrapper">
		<button id="show-map" type="button"><span class="fi-map"></span> Emplacement sur la carte</button>
		<div class="map-canvas-wrapper">
			<div id="map-canvas"></div>
		</div>
	</div>
</div>

<div id="clear"></div>

<div class="row title">
	<h2><%= @card.name %></h2>
</div>

<div class="row">
	<div class="left">
		<% if current_permission.allow_modify?('cards','edit',@card) %>
			<%= link_to "Editer <span class='fi-pencil'></span>".html_safe, overview_card_path(@card), class: 'edit' %>
		<% end %>

		<div class="description"><%= simple_format @card.description %></div>
	</div>
	<div class="right">
		<div class="location">
			<i class="fi-marker"></i>
			<div class="txt">
				<p><%= @card.street %></p>
				<p><%= @card.location.npa %> <%= @card.location.official_name %></p>
				<p class="place"><%= @card.place %></p>
			</div>
		</div>
		<div class="contact">
			<i class="fi-mail"></i>
			<p class="aobfuscate"><%= @card.email.present? ? @card.email.reverse : ' - ' %></p>
		</div>
		<div class="website">
			<i class="fi-web"></i>
			<p><%= link_to(@card.website, @card.website, target: "_blank") or ' - ' %></p>
		</div>
	</div>
</div>

<div id="clear"></div>
<div class="row">
	<div class="left">
		<div class="team">
			<h3>Team</h3>
			<% @card.confirmed_users.each do |user| %>
				<div class="resp">
					<p>
						<%=	user.firstname %>
						<%= content_tag :span, user.lastname, class: 'lastname' %>
						<%= mask_email user.email %>
					</p>
				</div>
			<% end %>
			<% @card.responsables.each do |responsable| %>
				<div class="resp">
					<p>
						<%= responsable.firstname %>
						<%= content_tag :span, responsable.lastname, class: 'lastname' %>
						<%= mask_email responsable.email %>
					</p>
				</div>
			<% end %>
		</div>
	</div>
	<% if(parents = @card.parents).any? %>
		<div class="right">
			<div class="networks">
				<h3><%= (parents.size > 1)? "Réseaux" : "Réseau" %></h3>
				<ul>
					<% parents.each do |network| %>
						<li><%= link_to "#{network.name} <span class='fi-link'></span>".html_safe, card_path(network) %></li>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>
</div>

<% if @card.network? %>
	<div class="row">
		<div class="left">
			<div class="members">
				<h3><%= (@card.inverse_parents.size>1)? "Membres" : "Membre" %> du réseau</h3>
				<ul>
					<% @card.inverse_parents.each do |member| %>
						<li><%= link_to "#{member.name} <span class='fi-link'></span>".html_safe, card_path(member) %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div id="clear"></div>
<% end %>

<% @card.affiliations.each do |affiliation| %>
	<%= affiliation.name %>
<% end %>