<% content_for :javascript do %>
	<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBgFFWiaY1lm8ex24rqBlwLmYnVU_bwmuU&sensor=false", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "card_show_map.js", "data-turbolinks-track" => true %>
<% end %>

<% content_for :id, 'cards-show' %>

<div class="top">
	<h1><%= @card.card_type.name %>: <%= @card.name %></h1>
</div>

<div class="row">
	<div class="left">
		<%= img = image_tag(@card.avatar_url) if img.present? %>
		<%= img = image_tag(@card.banner_url) if img.present? %>

		<div class="description"><%= @card.description %></div>

		<div class="location">
			<i class="fi-marker"></i>
			<div class="txt">
				<p><%= @card.street %></p>
				<p><%= @card.location.npa %> <%= @card.location.official_name %></p>
				<p><%= @card.place %></p>
			</div>
		</div>
		<div class="contact">
			<i class="fi-mail"></i>
			<p><%= @card.email if @card.email.present? or ' - ' %>-</p>
		</div>
		<div class="website">
			<i class="fi-web"></i>
			<p><%= link_to(@card.website, @card.website, target: "_blank") or ' - ' %></p>
		</div>
	</div>
	<div class="right">
		<div id="map-canvas"></div>
	</div>
</div>

<div id="clear"></div>

<div class="team">
	<h3>Team</h3>
	<% @card.confirmed_users.each do |user| %>
		<div class="resp">
			<p>
				<%=	user.firstname %>
				<%= content_tag :span, user.lastname, class: 'lastname' %>
				<%= mask_email user.email %>
			</p>
		</div>
	<% end %>
	<% @card.responsables.each do |responsable| %>
		<div class="resp">
			<p>
				<%= responsable.firstname %>
				<%= content_tag :span, responsable.lastname, class: 'lastname' %>
				<%= mask_email responsable.email %>
			</p>
		</div>
	<% end %>
</div>

<% @card.affiliations.each do |affiliation| %>
	<%= affiliation.name %>
<% end %>


<script type="text/javascript">
	window.onload=gmap.initialize(<%= @card.latitude %>, <%= @card.longitude %>);
</script>