<% content_for :id, "container-cards-show" %>

<section class="top">
  <div class="content-wrapper">
    <h1><%= @card.name %></h1>
  </div>
</section>

<section class="two-columns">
  <div class="left">
    <h2><%= @card.name %></h2>
    <p class="description"><%= @card.description %></p>
    <p class="website">Site web <%= link_to @card.website, @card.website %></p>

    <div class="redbox">
      <h3>Contact:</h3>
      <p><%= "#{@card.user.firstname} #{@card.user.lastname}" %></p>
      <p><%= @card.email %></p>

      <h3>Dernière mise à jour:</h3>
      <p><%= @card.updated_at %></p>
    </div>
  </div>

  <div class="right">
    <h2>situation</h2>

    <div data-controller="cards--show" data-target="cards--show.map" data-card="<%= @card.to_map_feature %>">
      <div class="map-holder">
        <div id="mapbox"></div>
      </div>

      <div class="table" data-target="cards--show.items">
      </div>

      <div style="display: none">
        <div data-target="cards--show.numbers"></div>
        <div data-target="cards--show.number"></div>
        <div data-target="cards--show.numberwrapper"></div>
        <div data-target="cards--show.numberTemplate"></div>
        <div data-target="cards--show.previous"></div>
        <div data-target="cards--show.next"></div>
        <div data-target="cards--show.total"></div>
      </div>
    </div>

    <p><%= @card.street %></p>
    <p><%= @card.location.zip %> <%= @card.location.canton.name %></p>

    <h2>lieu de rencontre</h2>
    <p><%= @card.place %></p>
  </div>
</section>



<p>Rue: </p>

<p>Type: <%= t("card.card_types.#{@card.card_type}".downcase) %></p>