<h2>Faire une demande à un utilisateur</h2>

<%= form_tag user_request_card_path(@card) do %>
	<%= select_tag :user_id, options_from_collection_for_select(User.users - @card.confirmed_users, :id, :full_name), class: "selectize" %>
	<%= submit_tag %>
<% end %>

<h2>Demandes d'utilisateurs</h2>

<% @unconfirmed.each do |user| %>
	<%= user.full_name %>
	<%= link_to "Confirmer", user_confirmation_card_path(@card, user_id: user.id, validated: "true"), method: :post %>
	<%= link_to "Refuser", user_confirmation_card_path(@card, user_id: user.id, validated: "false"), method: :post %>
<% end %>