<div class="back"><%= link_to "Retour sur l'édition", overview_card_path(@card) %></div>

<div class="row confirmed">
	<div class="col split1">
		<div class="block">
			<div class="header">
				<h2>Les utilisateurs dans le groupe</h2>
				<h5>Tous les utilisateurs qui ont rejoint le groupe.</h5>
			</div>
			<ul>
				<% if @confirmed.empty? %>
					<li>
						Aucun utilisateurs
					</li>
				<% else %>
					<%= form_for @card_permission, url: ownerships_card_affiliations_path(@card), method: :post, html: { id: "privilege-form" } do |f| %>

						<%= f.fields_for :members do |member_fields| %>

							<%= member_fields.object.full_name %>

							<% unless member_fields.object == @card.user %>

								<%= link_to "Retirer", card_affiliation_path(@card, member_fields.object), method: :delete, data: {confirm: "Etes-vous sûr de vouloir enlever cet utilisateur ?" }, class: "edit-btn" %>

								<%= member_fields.check_box :card_edit, class: "card-edit" %>
								<%= member_fields.check_box :team_edit, class: "team-edit" %>

							<% end %>

						<% end %>
						<%= f.submit "Enregistrer" %>

					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col split1">
		<div class="block">
			<div class="header">
				<h2>Demander à un utilisateur de rejoindre votre groupe</h2>
				<h5>Reconnaître un utilisateur du site comme étant responsable ou co-responsable de votre <%= @card.card_type.name %> en l'invitant à rejoindre le groupe.</h5>
			</div>
			<%= form_tag card_affiliations_path(@card) do %>
			<ul>
				<li>
					<%= select_tag :user_id, options_from_collection_for_select(User.users - @confirmed - @pending, :id, :full_name), class: "selectize" %>
						<%= submit_tag "Envoyer la requête" %>
				</li>
			</ul>
			<% end %>
		</div>
	</div>
</div>

<div class="row pending">
	<div class="col split1">
		<div class="block">
			<div class="header">
				<h2>En cours</h2>
				<h5>Les demandes que vous avez faites et qui sont en attente d'une réponse.</h5>
			</div>
			<% if !@pending.empty? %>
				<% @pending.each do |user| %>
					<ul>
						<li>
							<%= user.full_name %>
							<small>Requête faite le: <%= l(user.card_users.find_by_card_id(@card.id).updated_at, format: :text) %></small>
							<%= link_to "Annuler", card_affiliation_path(@card, user), method: :delete, data: {confirm: "Etes-vous sûr de vouloir annuler cette requête ?" } %>
						</li>
					</ul>
				<% end %>
			<% else %>
				<ul>
					<li> Pas de demandes en cours </li>
				</ul>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col split1">
		<div class="block">
			<div class="header">
				<h2>Requêtes</h2>
				<h5>Gérer les demandes pour rejoindre votre groupe comme responsable.</h5>
			</div>
			<% if !@unconfirmed.empty? %>
				<% @unconfirmed.each do |user| %>
					<ul>
						<li>
							<%= user.full_name %>
							<%= link_to "Confirmer", card_affiliation_path(@card, user.id, validated: "true"), method: :patch %>
							<%= link_to "Refuser", card_affiliation_path(@card, user.id, validated: "false"), method: :patch %>
						</li>
					</ul>
				<% end %>
			<% else %>
				<ul>
					<li> Aucune demande ne requiert votre action. </li>
				</ul>
			<% end %>
		</div>
	</div>
</div>

<%= form_for @card, url: team_update_card_path(@card), remote: true do |f| %>

	<div class="row">
		<div class="col split1">
			<div class="block">
				<div class="header">
					<h2>Les co-responsables de votre team</h2>
					<h5>Ces enregistrements ne créent pas de comptes. Si un co-responsable veut avoir son compte sur le site et rejoindre votre groupe, il doit se créer un compte et s'affilier.</h5>
				</div>

				<div class="error">
					<%= render 'error_messages', object: f.object %>
				</div>
				<ul class="team">
					<li>
						<div class="association_fields autocomplete" data-link="responsables">
							<%= f.fields_for(:responsables, @card.responsables.any? || @card.responsables.build) do |responsables_fields| %>
								<%= content_tag :div, class: "fields" do %>
									<div class="field">
										<%= responsables_fields.label :firstname %>
										<%= responsables_fields.text_field :firstname, data: {attr: "firstname"} %>
									</div>
									<div class="field">
										<%= responsables_fields.label :lastname %>
										<%= responsables_fields.text_field :lastname, data: {attr: "lastname"} %>
									</div>
									<div class="field">
										<%= responsables_fields.label :email %>
										<%= responsables_fields.text_field :email %>
									</div>
									<div class="field">
										<%= responsables_fields.hidden_field :_destroy, identifier: "destroy" %>
										<%= link_to_remove_fields "Supprimer" %>
									</div>
								<% end %>
							<% end %>
							<%= link_to_add_fields("Ajouter") %>
						</div>
					</li>
				</ul>
				<%= f.submit %>
			</div>
		</div>
	</div>
<% end %>