<%= content_tag :div, id: "logo-container", data: logo_src(@card) do %>
	<img class="logo">
<% end %>	


<% if current_permission.allow_modify?('cards','edit', @card) %>
	<div class="edit-logo">
		<button class="edit-logo" type="button">Editer <span class='fi-pencil'></span></button>
		<div class="tools">
			<ul>
				<li>
					<%= form_for @card, url: upload_avatar_card_images_path(@card), html: {id: 'avatar-form'} do |f| %>
						<%= f.label :avatar, "<span class='fi-pencil'></span> Changer l'image".html_safe %>
						<%= f.file_field :avatar %>
					<% end %>
				</li>
				<% if @card.avatar.present? %>
				<li>
					<%= link_to remove_avatar_card_images_path(@card), method: :delete, remote: true, data: {confirm: "Supprimer l'image ?"} do %>
						<span class='fi-x'></span> Supprimer l'image
					<% end %>
				</li>
				<% end %>
				<li><%= link_to '<span class="fi-info"></span> Aide sur le format'.html_safe, @help_url, target: '_blank' %></li>
			</ul>
		</div>			
	</div>
<% end %>	