<%= form_with model: contact, local: true, url: url, id: "form" do |f| %>

  <%= render "error_messages", object: f.object %>

  <div class="row">
    <%= f.label :message, "Ton message" %>
    <%= f.text_field :message, required: true %>
  </div>

  <div class="row">
    <%= f.label :email, "Ton email" %>
    <%= f.email_field :email, required: true %>
  </div>

  <div class="row">
    <%= f.label :verification, "Combien font 2+2?" %>
    <%= f.number_field :verification, required: true %>
    <br>
  </div>

  <%= f.submit "Envoyer" %>

<% end %>