<%= form_for [:admin, @user] do |f| %>

	<%= render 'error_messages', object: f.object %>

	<table>
		<tr>
			<td><%= f.label :email %></td>
			<td><%= f.text_field :email %></td>
		</tr>
		<tr>
			<td><%= f.label :gravatar_email %></td>
			<td><%= f.text_field :gravatar_email %></td>
		</tr>
		<tr>
			<td><%= f.label :name %></td>
			<td><%= f.text_field :name %></td>
		</tr>
		<%= fields_for :user_type, @user do |user_type_fields| %>
			<tr>
				<td><%= user_type_fields.label :user_type_id %></td>
				<td><%= user_type_fields.collection_select(:user_type_id, UserType.all, :id, :name) %></td>
			</tr>
		<% end %>
		<tr>
			<td><%= f.label :password %></td>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr>
			<td><%= f.label :password_confirmation %></td>
			<td><%= f.password_field :password_confirmation %></td>
		</tr>
		<tr>
			<td><%= f.submit %></td>
		</tr>
	</table>

<% end %>