<div id='map'></div>

<%= javascript_include_tag "map/a_mapbox_v1.5.2.js" %>
<%= javascript_include_tag "map/b_leaflet.markercluster.js" %>
<script type="text/javascript">
  var icon = '<%= asset_path "map/images/marker-icon-red.png" %>';
  var shadow = '<%= asset_path "map/images/marker-shadow.png" %>';
</script>
<%= javascript_include_tag "map/c_map.js" %>