<div class="autocomplete" data-link="responsables">
	<%= f.fields_for :responsable, (@card.responsable || Responsable.new) do |responsable_fields| %>
		<%= responsable_fields.text_field :firstname, data: {attr: "firstname"} %>
		<%= responsable_fields.text_field :lastname, data: {attr: "lastname"} %>
		<%= responsable_fields.text_field :email, data: {attr: "email"} %>
	<% end %>
</div>
<div class="association_fields autocomplete" data-link="responsables">
	<%= f.fields_for(:responsables, @card.responsables.any? || @card.responsables.build) do |responsables_fields| %>
		<div class="fields">
			<%= responsables_fields.text_field :firstname, data: {attr: "firstname"} %>
			<%= responsables_fields.text_field :lastname, data: {attr: "lastname"} %>
			<%= responsables_fields.text_field :email, data: {attr: "email"} %>
			<%= responsables_fields.hidden_field :_destroy %>
			<%= link_to_remove_fields "remove" %>
		</div>
	<% end %>
	<%= link_to_add_fields("New responsable") %>
</div>