<% if current_permission.allow_create?(params[:controller]) %>
	<%= form_for [:admin, AccessToken.new] do |f| %>
		<%= render 'error_messages', object: f.object %>

		<%= f.label :ownership_id%>
		<%= f.collection_select :ownership_id, Ownership.joins(:user).where(users: {firstname: "g_token"}), :id, :full_name, include_blank: "Please select" %>

		<%= f.label :exp_at %>
		<%= f.date_select :exp_at %>

		<%= f.submit %>
	<% end %>
<% end %>

<div class="table_buttons">
	<% if current_permission.allow_modify?(params[:controller], "destroy") %>
		<a class="delete off">Supprimer</a>
		<a class="delete on" href="#" data-method="delete" rel="nofollow" data-confirm="Etes-vous sûr de vouloir supprimer cette entrée ?">Supprimer</a>
	<% end %>	
</div>
<div id="admin_table">
	<%= present @table %>
</div>