<h1><%= @card.name %></h1>

<p>Type: <%= t("card.card_types.#{@card.card_type}".downcase) %></p>

<p>Description: <%= @card.description %></p>

<p>Email: <%= @card.email %></p>

<p>Rue: <%= @card.street %></p>

<p>Lieu de rencontre: <%= @card.place %></p>

<p>Site web: <%= @card.website %></p>

<p>Affiliation: <%= @card.affiliation %></p>

<p>Canton: <%= @card.location.canton.name %></p>

<p>NPA: <%= @card.location.zip %></p>

<p>Personne responsable: <%= "#{@card.user.firstname} #{@card.user.lastname}" %>

<p>Mise à jour le <%= @card.updated_at %>