<div id="admin_header">
	<div class="side-user">
		<div class="avatar">
			<a href="<%= profile_path %>"><img src="/assets/avatar.jpg"></a>
		</div>
		<div class="infos">
			<a href="<%= profile_path %>">Noémien Kocher</a>
			<a class="type" href="<%= profile_path %>">Groupe</a>
		</div>
	</div>
	<ul>
		<li class="parent">
			<a href="#">Groupes<span class="foundicong-down-arrow"></span></a>
			<ul>
				<li>
					<%= link_to_active t('application.header.admin.card'), admin_cards_path %>
				</li>
				<li>
					<%= link_to_active 'Type', admin_card_types_path %>
				</li>
			</ul>
		</li>
		<li>
			<%= link_to_active t('application.header.admin.page'), admin_pages_path %>
		</li>
		<li>
			<%= link_to_active t('application.header.admin.user'), admin_users_path %>
		</li>
	</ul>
	<div class="vspace"></div>
</div>

<script>
	$('.parent > ul').hide();
	$('.parent a:first-child').click(function(){
		$(this).next().slideToggle('1000', 'linear');
	});
	$('.active').parents('.parent ul').show();
</script>