<div id="admin_header">
	<div class="side-user">
		<div class="avatar">
			<a href="<%= profile_path %>"><%= image_tag "avatar.jpg" %></a>
		</div>
		<div class="infos">
			<a href="<%= profile_path %>">Noémien Kocher</a>
			<a class="type" href="<%= profile_path %>">Groupe</a>
			<%= link_to "Déconnexion", signout_path, method: :delete %>
		</div>
	</div>
	<ul>
		<li class="parent">
			<a href="#">Groupes<span class="fi-arrow-down"></span></a>
			<ul>
				<li>
					<%= link_to_active t('application.header.admin.card'), admin_cards_path %>
				</li>
				<li>
					<%= link_to_active 'Type', admin_card_types_path %>
				</li>
			</ul>
		</li>
		<li>
			<%= link_to_active t('application.header.admin.page'), admin_pages_path %>
		</li>
		<li>
			<%= link_to_active t('application.header.admin.user'), admin_users_path %>
		</li>
		<li>
			<%= link_to_active t('application.header.admin.affiliation'), admin_affiliations_path %>
		</li>
	</ul>
	<div class="vspace"></div>
</div>