<div id="admin_header">
	<div class="side-user">
		<div class="avatar">
			<a href="<%= profile_path %>"><%= image_tag "avatar.jpg" %></a>
		</div>
		<div class="infos">
			<a href="<%= profile_path %>">Noémien Kocher</a>
			<a class="type" href="<%= profile_path %>">Groupe</a>
			<%= link_to "Déconnexion", signout_path, method: :delete %>
		</div>
	</div>

	<% card_group = ["admin/cards", "admin/card_types"] %>
	<ul>
		<li class="parent">
			<a href="#">Groupes<span class="fi-arrow-down"></span></a>
			<ul>
				<% admin_links.select{ |l| l.in? card_group}.each do |link| %>
				<li>
					<%= link_to_active t('layout.header.admin.' + link.split('/').last), "/" + link %>
				</li>
				<% end %>
			</ul>
		</li>
		<% admin_links.reject{ |l| l.in? card_group}.each do |link| %>
			<li>
				<%= link_to_active t('layout.header.admin.' + link.split('/').last), "/" + link %>
			</li>
		<% end %>
	</ul>
	<div class="vspace"></div>
</div>