<div id="admin_header">
	<div class="side-user">
		<div class="avatar">
			<a href="<%= profile_path %>"><%= image_tag current_user.image %></a>
		</div>
		<div class="infos">
			<%= link_to "#{current_user.firstname} #{current_user.lastname}", profile_path %>
			<%= link_to "Déconnexion", signout_path, method: :delete, class: "exit" %>
		</div>
	</div>

	<ul>
		<% grouped_links.each do |group| %>
			<% if (allowed_links & group.last).any? %>
				<li class="parent">
					<a class="group_link" href="#"><%= group.first %><span class="fi-arrow-down"></span></a>
					<ul>
						<% allowed_links.select{ |l| l.in? group.last}.each do |link| %>
							<li>
								<%= link_to_active t('layout.header.admin.' + link.split('/').last), controller: link, action: :index %>
							</li>
						<% end %>
					</ul>
				</li>
			<% end %>
		<% end %>
		<% ungrouped_links.each do |link| %>
			<li>
				<%= link_to_active t('layout.header.admin.' + link.split('/').last), controller: link, action: :index %>
			</li>
		<% end %>
		<li>
			<%= link_to t('layout.header.admin.newsletter'), new_admin_newsletter_path if current_permission.allow_create?('admin/newsletters') %>
		</li>
	</ul>
	<div class="vspace"></div>
</div>