<footer>
	<div class="infos">
		<p class="resj">
			<i class="fi-star"></i><i class="fi-star center"></i><i class="fi-star"></i><br>
			 RES-J<br>Réseau Evangélique Suisse (RES) - Jeunesse<br>
		</p>
		<p>
			<% if current_user.nil? %>
				<%= link_to "Connexion", connexion_path %> |
			<% else %>
				<%= link_to 'Profile', profile_path %> |
				<%= link_to "Sign out", signout_path, method: :delete if !current_user.nil? %> |
			<% end %>
			<%= link_to 'Contact', contact_path %> 
		</p>
	</div>
	<div class="donate">
		Le réseau a aussi besoin de vous !<br>
		<%=link_to "Soutenir", help_path %><br>
		<i class="fi-heart"></i><i class="fi-heart center"></i><i class="fi-heart"></i>
	</div>
</footer>