<footer>
	<p class="social">
		<a href="https://www.facebook.com/reseaujeunesse.ch" target="_blank"><span class="fi-social-facebook"></span></a>
		<a href="https://twitter.com/ReseauJeunesse" target="_blank"><span class="fi-social-twitter"></span></a>
		<a href="http://instagram.com/reseaujeunesse" target="_blank"><span class="fi-social-instagram"></span></a>
	</p>
	<div class="img">
		<%= image_tag image_url "layout/logo-footer.png" %><br><br>
		<a href="http://www.evangelique.ch/" target="_blank"><%= image_tag image_url "layout/RES.png" %></a>
	</div>
	<div class="block a">
		<p>
			RES-J <br>Réseau Evangélique Suisse (RES) - Jeunesse
		</p>
		<p>
			<% if current_user.nil? %>
				<%= link_to "Connexion", connexion_path %> &nbsp; | &nbsp;
			<% else %>
				<%= link_to 'Profile', profile_path %> &nbsp; | &nbsp;
				<%= link_to "Déconnexion", signout_path, method: :delete %> &nbsp; | &nbsp;
			<% end %>
			<%= link_to 'Contact', contact_path %> 
		</p>
	</div>
	<div class="block b">
		Le réseau a aussi besoin de vous !<br>
		<%=link_to "Soutenir", soutien_path %><br>
	</div>
	<div class="end">
		<%= link_to 'Mentions légales', privacy_path %> 
		<%= link_to 'Développeur', developer_path %> 
		<%= link_to 'Aide', help_categories_path %>
	</div>
</footer>