<header>
	<div class="logo"><%= link_to '', root_path %></div>
	<nav>
		<div class="normal">
			<ul>
				<li class="first"><%= link_to t('layout.header.home'), root_path %></li>
				<li><%= link_to t('layout.header.reseau'), reseau_path %></li>
				<li><%= link_to t('layout.header.resources'), resources_path %></li>
				<li><%= link_to t('layout.header.resj'), resj_path %></li>
				<span class="profile"><%= render 'layouts/profile' %></span>
			</ul>
		</div>
	</nav>
</header>