<header>
	<div class="logo"><%= link_to '', root_path %></div>
	<div class="space"></div>
	<nav>
		<div class="normal">
			<ul>
				<li><%= link_to t('application.header.home'), root_path %></li>
				<li><%= link_to t('application.header.reseau'), reseau_path %></li>
				<li><%= link_to "ressources", ressources_path %></li>
				<li><%= link_to "ResJ", resj_path %></li>
				<li class="profil"><%= link_to current_user.full_name, profile_path unless current_user.nil? %></li>
			</ul>
		</div>
<!-- 		<div class="login">
			<ul>
				<li><%= link_to "login", root_path %></li>
				<li><%= link_to "sign in", root_path %></li>
			</ul>
		</div> -->
	</nav>
</header>