<header>
	<div class="logo"><%= link_to '', root_path %></div>
	<div class="space"></div>
	<nav>
		<div class="normal">
			<ul>
				<li><%= link_to t('layout.header.home'), root_path %></li>
				<li><%= link_to t('layout.header.reseau'), reseau_path %></li>
				<li><%= link_to t('layout.header.resources'), resources_path %></li>
				<li><%= link_to t('layout.header.resj'), resj_path %></li>
				<% if current_user.nil? %>
					<li class="profil"><%= link_to "Login", connexion_path, remote: true %></li>
				<% else %>
					<li class="profil"><%= link_to current_user.full_name, profile_path unless current_user.nil? %></li>
				<% end %>
			</ul>
		</div>
<!-- 		<div class="login">
			<ul>
				<li><%= link_to "login", root_path %></li>
				<li><%= link_to "sign in", root_path %></li>
			</ul>
		</div> -->
	</nav>
</header>