<!DOCTYPE html>
<html>
<head>
  <title>Resj</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div id="admin">
	<div id="admin_top_header">
		<%= render 'layouts/adminTopHeader' %>
	</div>
	<div id="admin_header">
		<%= render 'layouts/adminHeader' %>
	</div>
	<div id="admin_content">
		<%= yield %>
	</div>
</div>

</body>
</html>