<!DOCTYPE html>
<html>
<head>
  <title>Resj</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :javascript %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/favicon' %>
</head>
<body>

<div id="wrapper">
  <%= render 'layouts/flash' %>
  <%= render 'layouts/header' %>

  <div id="admin">
  	<%= render 'layouts/admin_top_header' %>
  	<%= render 'layouts/admin_header' %>
  	<div id="admin_content" <%= "class=#{yield(:id)}" if yield(:id).presence %>>
  		<%= yield %>
  	</div>
  </div>
  <div id="footer">
    <%= render 'layouts/footer' %>
  </div>
</div>

  <%= render 'layouts/ajax_loader' %>

  <%= render 'layouts/paloma' %>
</body>
</html>