<!DOCTYPE html>
<html>
<head>
  <title>Resj</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render 'layouts/flash' %>

	<div id="wrapper">

		<div id="login-over"></div>

		<%= render 'layouts/header' %>

		<%= render 'layouts/banner' %>

		<div id="container"  <%= "class=#{yield(:id)}" if yield(:id).presence %>>
			<%= yield %>
		</div>

		<%= render 'layouts/footer' %>

	</div>
</body>
</html>
