<!DOCTYPE html>
<html>
<head>
  <title>Réseau Jeunesse, pour la jeunesse évangélique de Suisse romande</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <%= csrf_meta_tags %>
  <%= render 'layouts/favicon' %>
</head>
<body>
  
  <%= render "layouts/js_params" %>

  <%= content_tag :div, ng_controller do %>

  	<%= render 'layouts/flash' %>

  	<div id="wrapper">

  		<%= image_tag image_url("layout/shapes.jpg"), id: "shapes" %>

  		<div id="login-over"></div>
  		<div id="login-overlay"><p class="close">fermer</p></div>

  		<div id="header">
  			<%= render 'layouts/header' %>
  		</div>

  		<%= render 'layouts/banner' %>

  		<div id="container"  <%= "class=#{yield(:id)}" if yield(:id).presence %>>
  			<%= yield %>
  		</div>

  		<div id="footer">
  			<%= render 'layouts/footer' %>
  		</div>
  	</div>

  <% end %>

	<%= render 'layouts/ajax_loader' %>
</body>
</html>
