<!DOCTYPE html>
<html>

<head>
  <title>Resj</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css" rel="stylesheet" />

</head>

<body>
  <div class="session-layout-top">
    <div class="logo">
      <%= link_to image_tag("layout/logo.png"), "/" %>
     </div>

    <div class="pattern">
      <div class="wrapper">
        <a href="/">Retour</a>
      </div>
    </div>
  </div>

  <%= render 'layouts/flash' %>

  <div class="<%= yield :id %>">
    <%= yield %>
  </div>
</body>

</html>